_next/data/0v3PePQ-DpzHSG8En5zs6/m-page.Page9.json
{"pageProps":{"initialState":{"dolanData":{},"dolanConfig":{},"isLoading":false,"isAuthenticated":false,"isDolanReady":true,"didInvalidateDolan":false,"spinnerText":"","spinnerBackgroundColor":null,"dolanTimestamp":1623328900463,"navConfig":{"blueprint":"legacy","legacyLayouts":{"webMenuType":"side_left"},"initPageId":"page.Page9","defaultPageId":"page.Page9","authenticationEnabled":false,"authPageId":"page.Page9","enabled":false,"headerEnabled":false,"headerText":"","tabs":[{"title":"Home","name":"t0"},{"title":"new data page","name":"t1"}],"screens":["page.Page2","page.Page9","page.Page10","page.Page11"],"routeConfigs":{"t0":{"initialRouteName":"page.Page9","iconName":"home"},"Login":{},"t1":{"initialRouteName":"page.Page5","iconName":"question"}}}},"route":{"name":"m-page.Page9","key":"m-page.Page9"},"screens":{"page.Page2":{"initStateProps":{},"pageFlowId":"page:2","pageId":"page.Page2","title":"Global canvas","isGlobalCanvas":true,"parameters":{},"pageVariables":{},"events":{},"components":[{"id":"2-327534ea-0a35-4d62-87a7-0dd41d48c466"}]},"page.Page9":{"initStateProps":{},"pageFlowId":"page:9","pageId":"page.Page9","title":"landing page","parameters":{},"pageVariables":{},"dataReferences":{"menu1":[],"menu_item":{}},"dataResources":[{"query":{},"action_name":"data.findAll","resource_name":"menu","reference_name":"menu1","data_canvas_flow_id":"data:menu153378699"},{"identifier":"0","action_name":"data.find","resource_name":"menu","reference_name":"menu_item","data_canvas_flow_id":"data:menu_item24239392"}],"events":{"onPageDidMount":[{"id":"36d04ae8.6e8fe6"},{"id":"46df6cb6.daed54"},{"id":"b53325b1b3651.3d6c32dd9a39a"}]},"components":[{"id":"9-d99cd7f3-47e1-43db-af81-e5bb856cc014","ch":[{"id":"5b007e96-4fdc-4f20-bf4c-4e7b6db60d83","ch":[{"id":"4a1a3cb6-bb7a-4bbd-b9c8-2b8c72501cf2"}]},{"id":"bfe43acc-32e7-4c46-91a6-ab84e0b977b0"},{"id":"52ec9ef6-d2b1-4001-938b-de514b3c43f5"},{"id":"a22a47fd-df29-4074-940a-ec9a9fb85b92"},{"id":"60d35588-7a36-43ec-9fa9-b68627f0a29d"}]}]},"page.Page10":{"initStateProps":{"8f54d88e-e098-4032-892d-de4a10d18f25":["arrowVisible"]},"pageFlowId":"page:10","pageId":"page.Page10","title":"İçecek Menüsü","parameters":{},"pageVariables":{},"dataReferences":{"icecek_menu":[]},"dataResources":[{"query":{},"action_name":"data.findAll","resource_name":"icecek","reference_name":"icecek_menu","data_canvas_flow_id":"data:icecek126331489"}],"events":{"onPageDidMount":[{"id":"d6abdc7e.195a1"},{"id":"52453cf3175aa.0982b26207c3d"}]},"components":[{"id":"10-bc51f5b3-b243-4572-83c6-0753cb80a591","ch":[{"id":"17df5d3b-8932-4736-89d3-aaaef0ae169b","ch":[{"id":"7ff8122f-5f86-4154-b635-2b8c72501cf2"}]},{"id":"6207ff2e-3230-4a02-b598-2b4e656cf2ec"},{"id":"7bc4ccf8-e94d-4c01-a4b2-4cd45e2845ac"},{"id":"e1411bb5-e6b1-4525-a35e-98f454ba1440","ch":[{"id":"8f54d88e-e098-4032-892d-de4a10d18f25","ch":[{"id":"640415f2-8509-4ed4-8536-388d709272e0","ch":[{"id":"11729e7b-f88f-4aa6-be8c-7051050dff57"}]},{"id":"87a0b9c0-4795-4caf-9f3e-71c725478a25","ch":[{"id":"36cd5488-08c5-48d1-8179-78c74271c8f6"}]},{"id":"47b9cb49-7de7-47d1-ba63-8a2ec4b15677","ch":[{"id":"0dbfce44-0ffd-443f-923f-b82493844f2d"}]}]},{"id":"ddae6215-e7aa-44aa-ad1f-d1823d7ea82f"}]}]}]},"page.Page11":{"initStateProps":{"a421dbaa-20b1-4456-a22a-de4a10d18f25":["arrowVisible"]},"pageFlowId":"page:11","pageId":"page.Page11","title":"Yemek Menüsü","parameters":{},"pageVariables":{},"dataReferences":{"yemek_menu":[],"icecek_menu":[]},"dataResources":[{"query":{},"action_name":"data.findAll","resource_name":"yemek","reference_name":"yemek_menu","data_canvas_flow_id":"data:yemek197164568"},{"query":{},"action_name":"data.findAll","resource_name":"icecek","reference_name":"icecek_menu","data_canvas_flow_id":"data:icecek173175048"}],"events":{"onPageDidMount":[{"id":"9d004f8b.e8b0c"},{"id":"ce06e406.8073a8"},{"id":"b0892b645237e.37e34569b78c"}]},"components":[{"id":"11-94cbc21b-eb59-476d-96a3-6ef92051f83d","ch":[{"id":"5b427a88-dbd7-40a2-963a-f682064cbebd","ch":[{"id":"02fd81da-a33b-42bc-8d8f-2b8c72501cf2"}]},{"id":"d8ca172c-9a53-41ce-a5a2-6f6b229a815f"},{"id":"d73b884b-89d0-4d59-bf83-d99db583c455"},{"id":"0e0b0320-35a0-40c5-a4da-4abb8eee0a38","ch":[{"id":"a421dbaa-20b1-4456-a22a-de4a10d18f25","ch":[{"id":"4e9b60aa-63ee-4bb7-9ed1-388d709272e0","ch":[{"id":"6540f81d-d024-465e-a770-7051050dff57"}]},{"id":"a75c8d18-bbf0-4e2f-bbce-71c725478a25","ch":[{"id":"598413b9-a7e9-43ab-a2a7-78c74271c8f6"}]},{"id":"13fb599c-d15c-48bc-ae8b-8a2ec4b15677","ch":[{"id":"a9dbea3b-9333-46cb-b9f2-b82493844f2d"}]}]},{"id":"89c488f3-4d6b-41d6-8194-d1823d7ea82f"}]}]}]}},"flows":[{"x":420,"y":100,"z":"own_1e592fb6.ded18","id":"776de3d.716a4","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@10893c1c.18845","source":"node"}},"source":"object"}},{"x":420,"y":50,"z":"own_1d6d336a.9126c","id":"10544d20.64c85","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"response":{"key":"response@@@1ed52ea2.56495","source":"node"}},"source":"object"}},{"x":210,"y":40,"z":"own_1e592fb6.ded18","id":"10893c1c.18845","func":"const { url, supersonic } = inputs;\n\ntry {\n  return await supersonic.api.app.openURL({ url });\n} catch (error) {\n  return [1, {\n    error: {\n      code: 'couldNotOpenURLError',\n      message: `Could not open URL: ${url}`,\n      rawError: error,\n    },\n  }];\n}","type":"function2","noerr":0,"wires":[["9974213d.3293a"],["776de3d.716a4"]],"outputs":2,"function_inputs":{"key":{"url":{"key":"url","source":"input"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["couldNotOpenURLError"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `couldNotOpenURLError`: Triggered if the URL could not be opened."}},"additionalProperties":false}]},{"x":420,"y":50,"z":"own_8c38c143.8847e","id":"11448d84.84e18","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"pickedDate":{"key":"pickedDate@@@1d26a8c5.4b053","source":"node"}},"source":"object"}},{"x":210,"y":40,"z":"own_bd0c25ba.5aaf3","id":"1182b19b.3b257","func":"const {\n  title,\n  message,\n  dismissLabel,\n  supersonic,\n} = inputs;\n\nawait supersonic.api.alert.show({\n  title,\n  message,\n  buttonTitle: dismissLabel,\n});","type":"function2","noerr":0,"wires":[["d12b40e5.694bb"]],"outputs":1,"function_inputs":{"key":{"title":{"key":"title","source":"input"},"message":{"key":"message","source":"input"},"supersonic":{"key":"supersonic","source":"msg"},"dismissLabel":{"key":"dismissLabel","source":"input"}},"source":"object"},"function_outputs":[{"type":"object","properties":{},"additionalProperties":false}]},{"x":210,"y":40,"z":"own_23268044.e1e2b","id":"12488c73.5bfa4","func":"const { variable, supersonic, contextId } = inputs;\nconst { reference, value } = variable;\nawait supersonic.context.setPageVariable(reference, value, contextId);","type":"function2","noerr":0,"wires":[["1e52f98a.20216"]],"outputs":1,"function_inputs":{"key":{"variable":{"key":"variable","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{},"additionalProperties":false}]},{"x":420,"y":50,"z":"own_8fe6bea6.1072","id":"1333ac45.8009c","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"response":{"key":"response@@@6afc87de.47ec9","source":"node"}},"source":"object"}},{"x":420,"y":50,"z":"own_cd621d9f.3ea9b","id":"13b0723d.585e8","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"pickedDatetime":{"key":"pickedDatetime@@@5e110cd4.1bc6b","source":"node"}},"source":"object"}},{"x":420,"y":100,"z":"own_8c38c143.8847e","id":"143f182b.61fe3","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":210,"y":40,"z":"own_97b54227.3b127","id":"147f90f1.617fe","func":"const {\n  time,\n  unit,\n} = msg;\n\nconst unitCoefficientMap = {\n  ms: 1,\n  s: 1000,\n  min: 1000 * 60,\n  h: 1000 * 60 * 60,\n};\n\nif (time <= 0) {\n  return msg;\n}\n\nconst timeToWait = time * unitCoefficientMap[unit];\n\nif (supersonic.api.delay) {\n  supersonic.api.delay(() => { node.send(msg); }, timeToWait, msg.contextId);\n} else {\n  setTimeout(() => {\n    node.send(msg);\n  }, timeToWait);\n}","type":"function","noerr":0,"wires":[[]],"outputs":1},{"x":210,"y":40,"z":"own_1adc86bb.3d695","id":"14bb0cac.78d37","func":"const {\n  title,\n  message,\n  confirmLabel,\n  cancelLabel,\n  supersonic,\n} = inputs;\n\ntry {\n  const res = await supersonic.api.confirm.show({\n    title,\n    message,\n    buttonTitles: {\n      cancel: cancelLabel,\n      ok: confirmLabel,\n    },\n  });\n  if (res.clickedIndex === 0) {\n    return [1, { confirmed: false }];\n  }\n  return [0, { confirmed: true }];\n} catch (error) {\n  return [1, {\n    error: {\n      code: 'unknown',\n      message: 'Unknown error occurred',\n      rawError: error,\n    },\n  }];\n}","type":"function2","noerr":0,"wires":[["183beec1.44fbe"],["535540ab.3d2c0"]],"outputs":2,"function_inputs":{"key":{"title":{"key":"title","source":"input"},"message":{"key":"message","source":"input"},"supersonic":{"key":"supersonic","source":"msg"},"cancelLabel":{"key":"cancelLabel","source":"input"},"confirmLabel":{"key":"confirmLabel","source":"input"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"confirmed":{"name":"confirmed","type":"boolean","title":"Confirmed?","description":"`true` if the confirm button was pressed, `false` if the cancel button was pressed."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `unknown`: Unknown error occure while trying to get clipboard content."}},"additionalProperties":false}]},{"x":210,"y":40,"z":"own_2277ac59.912ff","id":"14ff44fa.42c4b","func":"const {\n  page,\n  params,\n  openInModal,\n  supersonic,\n  contextId,\n} = inputs;\nconst options = {\n  route: page,\n  params: params || {},\n};\nconst action = openInModal ? 'pushToModal' : 'pushToStack';\nawait supersonic.api.navigation[action](options, contextId);","type":"function2","noerr":0,"wires":[["b1539337.3b2a5"]],"outputs":1,"function_inputs":{"key":{"page":{"key":"page","source":"input"},"params":{"key":"params","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"},"openInModal":{"key":"openInModal","source":"input"}},"source":"object"},"function_outputs":[{"type":"object","properties":{},"additionalProperties":false}]},{"x":420,"y":50,"z":"own_105ec0bb.2f7d7","id":"15f7596e.557a0","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":420,"y":50,"z":"own_1a919264.5ec10","id":"16a419b3.92ebe","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"currentUser":{"key":"currentUser@@@1b0c66a2.53306","source":"node"}},"source":"object"}},{"x":420,"y":50,"z":"own_1adc86bb.3d695","id":"183beec1.44fbe","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"confirmed":{"key":"confirmed@@@14bb0cac.78d37","source":"node"}},"source":"object"}},{"x":420,"y":50,"z":"own_212bc4df.27d56","id":"184083d6.635bb","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":210,"y":40,"z":"own_23304c38.378bb","id":"189cb4c2.4aa06","func":"const {\n  codeType,\n  cancelLabel,\n  supersonic,\n} = inputs;\ntry {\n  const { BAR_CODE_TYPES } = await supersonic.api.camera;\n  const systemCodeTypes = [BAR_CODE_TYPES[codeType]];\n  const res = await supersonic.api.camera.openQRCode({\n    labelCancel: cancelLabel,\n    codeTypes: systemCodeTypes,\n  });\n  if (res.state === 'cancel') {\n    return [1];\n  }\n  return [0, {\n    codeContent: res.url,\n    scannedCode: res.url,\n  }];\n} catch (error) {\n  return [1, {\n    error: {\n      code: 'unknown',\n      message: 'Unknown error occurred',\n      rawError: error,\n    },\n  }];\n}","type":"function2","noerr":0,"wires":[["1d5efc97.17257"],["1c0222c6.1c14d"],["200efa5e.a4b24"]],"outputs":3,"function_inputs":{"key":{"codeType":{"key":"codeType","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"},"cancelLabel":{"key":"cancelLabel","source":"input"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"codeContent":{"name":"codeContent","type":"string","title":"QR barcode content","description":"Text content of the scanned QR barcode"}},"additionalProperties":false},{"type":"object","properties":{},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["permissionDenied","cameraNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `permissionDenied`: Thrown when the user does not have sufficient permissions to use the camera.\n- `cameraNotFound`: Thrown when the current device doesn't have a camera.\n- `unknown`: Thrown when calling the native API resulted in an unknown error."}},"additionalProperties":false}]},{"x":210,"y":40,"z":"own_d51109f.3b25d","id":"19b93bf3.89208","func":"const { request, supersonic } = inputs;\nconst { resourceName, id, parameters = {} } = request;\n\nasync function makeRequest() {\n  const resourceConfig = supersonic.api.data.getResourceConfig(resourceName);\n  if (!resourceConfig) {\n    // This is assumed to be a legacy data resource\n    const data = await supersonic.resource.find(resourceName, id, {});\n    return data && data.value && data.value.object;\n  }\n  // Load a local data resource\n  if (resourceConfig.type === 'local') {\n    const { appId } = await supersonic.api.app.getAppId();\n    const key = `local-resource:${appId}:${resourceName}:${id}`;\n    const { data: record } = await supersonic.api.asyncStorage.getItem({ key });\n    if (record != null && typeof record === 'object' && typeof record.id !== 'undefined') {\n      return record;\n    }\n    throw new Error(`Record ${resourceName} with ID ${id} not found`);\n  }\n  if (resourceConfig.type === 'agdb') {\n    const data = await supersonic.resource.find(resourceConfig.agdb_id, id, {});\n    return data && data.value && data.value.object;\n  }\n  if (['odata'].includes(resourceConfig.type)) {\n    const driver = supersonic.api.data.drivers[resourceConfig.type];\n    if (!driver) {\n      throw new Error(`Missing driver for Resource ${resourceName}`);\n    }\n    const agQuery = {\n      resource: {\n        ...resourceConfig,\n        // Adding baseURL here as transdolan strips original baseURL...\n        baseURL: resourceConfig.base_url,\n      },\n      operation: 'retrieve',\n      ...request,\n    };\n    const response = await driver.execute(agQuery);\n    if (!response || !response.data || response.data.error) {\n      throw new Error(response.data && response.data.error ? response.data.error : 'Request failed');\n    }\n    return response.data;\n  }\n  // Load a \"REST\" data resource\n  const operation = resourceConfig.operations.retrieve;\n  if (!operation) {\n    throw new Error(`Resource ${resourceName} does not support getting a single record`);\n  }\n  const requestParameters = [\n    ...resourceConfig.parameters,\n    ...operation.parameters,\n  ];\n  const headers = {};\n  const queryComponents = [];\n  let url = `${resourceConfig.base_url}${operation.relative_path || ''}`;\n  requestParameters.forEach((parameter) => {\n    let value = parameters[parameter.id];\n    if (parameter.is_static || typeof value === 'undefined') {\n      value = parameter.default;\n    }\n    if (value == null) {\n    // No value for this parameter\n      if (parameter.is_optional) {\n        return;\n      }\n      throw new Error(`Missing required parameter ${JSON.stringify(parameter.title)}`);\n    }\n    // Map the parameter to headers/URL/query\n    const { placement } = parameter;\n    const placementKey = parameter.placement_key;\n    if (placement === 'header') {\n      // Add to headers\n      headers[placementKey] = value;\n    } else if (placement === 'query') {\n      // Add to the URL as a query parameter\n      queryComponents.push(`${encodeURIComponent(placementKey)}=${encodeURIComponent(String(value))}`);\n    } else if (placement === 'path') {\n      // Replace the placeholder in the URL with escaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), encodeURIComponent(String(value)));\n    } else if (placement === 'url') {\n      // Replace the placeholder in the URL with unescaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), String(value));\n    }\n  });\n  // Add any query parameters to the URL\n  if (queryComponents.length) {\n    const newQuery = queryComponents.join('&');\n    url = url.replace(/(?:\\?(.*))?$/, (_, query) => (query ? `?${query}&${newQuery}` : `?${newQuery}`));\n  }\n  // Perform the request\n  const response = await fetch(url, { method: 'GET', headers });\n  if (!response.ok) {\n    throw response;\n  }\n  let result = await response.json();\n  const resultPath = operation.response_key_path ? operation.response_key_path.split('.') : [];\n  while (result != null && resultPath.length) {\n    result = result[resultPath.shift()];\n  }\n  if (!result) {\n    throw new Error(`A ${resourceName} record not found from the response!`);\n  }\n  return result;\n}\n\ntry {\n  const record = await makeRequest();\n  if (Array.isArray(record)) {\n    const errorStr = 'The server responded with a list for a single data record. The response must be an object.';\n    return [1, {\n      error: {\n        code: 'responseMustBeObject',\n        status: -1,\n        message: errorStr,\n        rawError: new Error(errorStr),\n      },\n    }];\n  }\n  return [0, { record }];\n} catch (error) {\n  // eslint-disable-next-line no-console\n  // console.warn(error);\n  let errorStr = String(error);\n\n  if (errorStr.startsWith('Error: Couldn\\'t find data resource')) {\n    return [1, {\n      error: {\n        code: 'resourceNotFound',\n        status: 404,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  if (errorStr === 'TypeError: Failed to fetch') {\n    errorStr += '. Does the server allow CORS?';\n    return [1, {\n      error: {\n        code: 'requestFailed',\n        status: error.status,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  } if (!error.json) {\n    return [1, {\n      error: {\n        code: 'unknown',\n        status: -1,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  let rawError;\n  try {\n    const body = await error.json();\n    rawError = body;\n    errorStr = `JSON error response from server: ${JSON.stringify(body)}.`;\n  } catch {\n    errorStr = 'Non-JSON error body.';\n    rawError = { message: errorStr };\n  } finally {\n    // eslint-disable-next-line no-unsafe-finally\n    return [1, {\n      error: {\n        code: 'serverError',\n        status: error.status,\n        message: errorStr,\n        rawError,\n      },\n    }];\n  }\n}","type":"function2","noerr":0,"wires":[["c55913f3.8d802"],["731bd1e9.4983c"]],"outputs":2,"function_inputs":{"key":{"request":{"key":"request","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"record":{"name":"record","type":"dataResourceRetrieveResponse","title":"Record","description":"The successfully retrieved record."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown","responseMustBeObject"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while fetching the record.\n- `responseMustBeObject`: Thrown if the server does not return an object as a response for a single data record request."}},"additionalProperties":false}]},{"x":210,"y":40,"z":"own_1a919264.5ec10","id":"1b0c66a2.53306","func":"const { credentials, supersonic } = inputs;\ntry {\n  const session = await supersonic.api.auth.logIn({\n    credentials,\n  });\n  const user = {\n    id: session.user_details.id,\n    username: session.user_details.username,\n    metadata: session.user_details.metadata,\n    groups: session.user_details.groups,\n    accessToken: session.access_token,\n  };\n  await supersonic.api.auth.setSession({ session });\n  return [0, { currentUser: user }];\n} catch (error) {\n  return [1, {\n    error: {\n      code: 'authFailed',\n      message: 'Authentication failed.',\n      rawError: error,\n    },\n  }];\n}","type":"function2","noerr":0,"wires":[["16a419b3.92ebe"],["1cfb0c96.18e5d"]],"outputs":2,"function_inputs":{"key":{"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"},"credentials":{"key":"credentials","source":"input"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"currentUser":{"name":"currentUser","type":"object","title":"Current user","properties":{"id":{"type":"number","label":"ID","format":"integer","description":"Unique user ID for the logged-in user."},"groups":{"item":{"type":"object","properties":{"id":{"type":"string","label":"Group ID","description":"Group ID number."}}},"type":"array","label":"Groups","description":"Groups the user belongs to."},"metadata":{"type":"object","label":"Metadata","description":"User metadata. Since no schema is enforced by the backend, it is given here as a schemaless object."},"username":{"type":"string","label":"Username","description":"Username for the logged-in user, typically an email address"},"accessToken":{"type":"string","label":"Access token","description":"Access token used to access AppGyver-hosted cloud resources, such as databases or integrations."}},"description":"Object containing the current user information."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["authFailed"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `authFailed`: Thrown if the authenticating the user failed."}},"additionalProperties":false}]},{"x":420,"y":100,"z":"own_21057d66.1a85e","id":"1b4bfc12.808a7","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@441d4b92.6ac8d","source":"node"}},"source":"object"}},{"x":420,"y":100,"z":"own_23304c38.378bb","id":"1c0222c6.1c14d","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":420,"y":100,"z":"own_100f5064.6f140","id":"1c88f5a9.1d6dc","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@f0bf1a1a.10aa3","source":"node"}},"source":"object"}},{"x":420,"y":100,"z":"own_1a919264.5ec10","id":"1cfb0c96.18e5d","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@1b0c66a2.53306","source":"node"}},"source":"object"}},{"x":210,"y":40,"z":"own_8c38c143.8847e","id":"1d26a8c5.4b053","func":"const {\n  initialDate,\n  confirmLabel,\n  cancelLabel,\n  minDate,\n  maxDate,\n  supersonic,\n} = inputs;\n\ntry {\n  const res = await supersonic.api.datePicker.show({\n    value: initialDate,\n    confirmBtnText: confirmLabel,\n    cancelBtnText: cancelLabel,\n    mode: 'date',\n    minDate,\n    maxDate,\n    format: 'YYYY-MM-DD',\n  });\n  if (res.didCancel) {\n    return [1];\n  }\n  return [0, { pickedDate: res.datetime }];\n} catch (error) {\n  return [2, {\n    error: {\n      code: 'unknown',\n      message: 'Unknown error occurred while picking a date.',\n      rawError: error,\n    },\n  }];\n}","type":"function2","noerr":0,"wires":[["11448d84.84e18"],["143f182b.61fe3"],["22694950.7ebb2"]],"outputs":3,"function_inputs":{"key":{"maxDate":{"key":"maxDate","source":"input"},"minDate":{"key":"minDate","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"},"cancelLabel":{"key":"cancelLabel","source":"input"},"initialDate":{"key":"initialDate","source":"input"},"confirmLabel":{"key":"confirmLabel","source":"input"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"pickedDate":{"name":"pickedDate","type":"string","title":"Picked date","description":"Picked date as an ISO 8601 format string, e.g. `2019-10-03`."}},"additionalProperties":false},{"type":"object","properties":{},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `unknown`: Thrown if an unknown error occurred while picking a date."}},"additionalProperties":false}]},{"x":420,"y":50,"z":"own_23304c38.378bb","id":"1d5efc97.17257","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"codeContent":{"key":"codeContent@@@189cb4c2.4aa06","source":"node"}},"source":"object"}},{"x":420,"y":50,"z":"own_23268044.e1e2b","id":"1e52f98a.20216","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":210,"y":40,"z":"own_91f3e62e.3f65c","id":"1eb859fe.2c9fd","func":"const { supersonic, contextId } = inputs;\nawait supersonic.api.spinner.hide(contextId);","type":"function2","noerr":0,"wires":[["2efe9993.2abdf"]],"outputs":1,"function_inputs":{"key":{"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{},"additionalProperties":false}]},{"x":210,"y":40,"z":"own_1d6d336a.9126c","id":"1ed52ea2.56495","func":"const { request, supersonic } = inputs;\nconst { resourceName, properties = {}, parameters = {} } = request;\n\nasync function makeRequest() {\n  const resourceConfig = supersonic.api.data.getResourceConfig(resourceName);\n  // const gyverDomain = supersonic.api.app.getGyverDomainSync();\n\n  const getTLD = () => {\n    const environment = self.DOLAN.environment.endpoints.data;\n    let TLD = environment.match(/.*\\.(.*gyver\\..{2,5})\\//)[1];\n    if (TLD.includes('/')) {\n      TLD = TLD.substring(9, TLD.length - 3);\n    } else {\n      TLD = TLD.substring(9, TLD.length);\n    }\n    return TLD;\n  };\n\n  const TLD = self.DOLAN ? getTLD() : '';\n  if (!resourceConfig) {\n    if (TLD === 'eu' || TLD === 'black') {\n      throw new Error(`Couldn't find data resource with given name: ${resourceName}.`);\n    }\n    // This is assumed to be a legacy data resource\n    const data = await supersonic.resource.create(resourceName, { object: properties });\n    return data && data.value && data.value.object;\n  }\n\n  // Create a local data resource\n  if (resourceConfig.type === 'local') {\n    const { id } = properties;\n    if (id == null) {\n      throw new Error(`Missing ${resourceName} record ID`);\n    }\n    const { appId } = await supersonic.api.app.getAppId();\n    const key = `local-resource:${appId}:${resourceName}:${id}`;\n    const { data: record } = await supersonic.api.asyncStorage.getItem({ key });\n    if (record != null && typeof record === 'object' && typeof record.id !== 'undefined') {\n      throw new Error(`Record ${resourceName} with ID ${id} already exists`);\n    }\n    await supersonic.api.asyncStorage.setItem({ key, data: properties });\n    return properties;\n  }\n  // Create an AGDB data resource\n  if (resourceConfig.type === 'agdb') {\n    const data = await supersonic.resource.create(resourceConfig.agdb_id, { object: properties });\n    return data && data.value && data.value.object;\n  }\n  if (['odata'].includes(resourceConfig.type)) {\n    const driver = supersonic.api.data.drivers[resourceConfig.type];\n    if (!driver) {\n      throw new Error(`Missing driver for Resource ${resourceName}`);\n    }\n    const agQuery = {\n      resource: {\n        ...resourceConfig,\n        // Adding baseURL here as transdolan strips original baseURL...\n        baseURL: resourceConfig.base_url,\n      },\n      operation: 'create',\n      ...request,\n    };\n    console.log(agQuery);\n    const response = await driver.execute(agQuery);\n    if (!response || !response.data || response.data.error) {\n      throw new Error(response.data && response.data.error ? response.data.error : 'Request failed');\n    }\n    return response.data;\n  }\n  // Create a \"REST\" data resource\n  const operation = resourceConfig.operations.create;\n  if (!operation) {\n    throw new Error(`Resource ${resourceName} does not support creating new records`);\n  }\n  const requestParameters = [\n    ...resourceConfig.parameters,\n    ...operation.parameters,\n  ];\n  const requestSchema = operation.request_schema;\n  const isEmptyResponse = !properties || (requestSchema != null && requestSchema.type === 'undefined');\n  const headers = isEmptyResponse ? {} : { 'Content-Type': 'application/json' };\n  const body = isEmptyResponse ? undefined : JSON.stringify(properties);\n  const queryComponents = [];\n  let url = `${resourceConfig.base_url}${operation.relative_path || ''}`;\n  requestParameters.forEach((parameter) => {\n    let value = parameters[parameter.id];\n    if (parameter.is_static || typeof value === 'undefined') {\n      value = parameter.default;\n    }\n    if (value == null) {\n    // No value for this parameter\n      if (parameter.is_optional) {\n        return;\n      }\n      throw new Error(`Missing required parameter ${JSON.stringify(parameter.title)}`);\n    }\n    // Map the parameter to headers/URL/query\n    const { placement } = parameter;\n    const placementKey = parameter.placement_key;\n    if (placement === 'header') {\n      // Add to headers\n      headers[placementKey] = value;\n    } else if (placement === 'query') {\n      // Add to the URL as a query parameter\n      queryComponents.push(`${encodeURIComponent(placementKey)}=${encodeURIComponent(String(value))}`);\n    } else if (placement === 'path') {\n      // Replace the placeholder in the URL with escaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), encodeURIComponent(String(value)));\n    } else if (placement === 'url') {\n      // Replace the placeholder in the URL with unescaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), String(value));\n    }\n  });\n  // Add any query parameters to the URL\n  if (queryComponents.length) {\n    const newQuery = queryComponents.join('&');\n    url = url.replace(/(?:\\?(.*))?$/, (_, query) => (query ? `?${query}&${newQuery}` : `?${newQuery}`));\n  }\n  // Perform the request\n  const response = await fetch(url, { method: 'POST', headers, body });\n  if (!response.ok) {\n    throw response;\n  }\n  let result;\n  try {\n    result = await response.json();\n  } catch (e) {\n    result = null;\n  }\n  const resultPath = operation.response_key_path ? operation.response_key_path.split('.') : [];\n  while (result != null && resultPath.length) {\n    result = result[resultPath.shift()];\n  }\n  return result;\n}\n\ntry {\n  const response = await makeRequest();\n  return [0, { response }];\n} catch (error) {\n  // eslint-disable-next-line no-console\n  // console.warn(error);\n  let errorStr = String(error);\n\n  if (errorStr.startsWith('Error: Couldn\\'t find data resource')) {\n    return [1, {\n      error: {\n        code: 'resourceNotFound',\n        status: 404,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n\n  if (errorStr === 'TypeError: Failed to fetch') {\n    errorStr += '. Does the server allow CORS?';\n    return [1, {\n      error: {\n        code: 'requestFailed',\n        status: error.status,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  } if (!error.json) {\n    return [1, {\n      error: {\n        code: 'unknown',\n        status: -1,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  let rawError;\n  try {\n    const body = await error.json();\n    rawError = body;\n    errorStr = `JSON error response from server: ${JSON.stringify(body)}.`;\n  } catch {\n    errorStr = 'Non-JSON error body.';\n    rawError = { message: errorStr };\n  } finally {\n    // eslint-disable-next-line no-unsafe-finally\n    return [1, {\n      error: {\n        code: 'serverError',\n        status: error.status,\n        message: errorStr,\n        rawError,\n      },\n    }];\n  }\n}","type":"function2","noerr":0,"wires":[["10544d20.64c85"],["ca3c4967.8fc25"]],"outputs":2,"function_inputs":{"key":{"request":{"key":"request","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceCreateResponse","title":"Response","description":"Response returned by the data resource after the record is successfully created."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while creating the record."}},"additionalProperties":false}]},{"x":210,"y":40,"z":"own_282b3fcc.5ec11","id":"1f41115b.4a731","func":"const { supersonic } = inputs;\nawait supersonic.api.navigation.replaceToDefault();","type":"function2","noerr":0,"wires":[],"outputs":0,"function_inputs":{"key":{"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[]},{"x":420,"y":50,"z":"own_100f5064.6f140","id":"1fe9fc4d.4458c","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"records":{"key":"records@@@f0bf1a1a.10aa3","source":"node"}},"source":"object"}},{"x":420,"y":150,"z":"own_23304c38.378bb","id":"200efa5e.a4b24","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@189cb4c2.4aa06","source":"node"}},"source":"object"}},{"x":420,"y":150,"z":"own_8c38c143.8847e","id":"22694950.7ebb2","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@1d26a8c5.4b053","source":"node"}},"source":"object"}},{"x":420,"y":150,"z":"own_1d5846be.28931","id":"23b05ac5.811d6","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@ac219eb2.beaf5","source":"node"}},"source":"object"}},{"x":420,"y":50,"z":"own_91f3e62e.3f65c","id":"2efe9993.2abdf","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":210,"y":40,"z":"own_21057d66.1a85e","id":"441d4b92.6ac8d","func":"const { request, supersonic } = inputs;\nconst {\n  resourceName,\n  id,\n  properties = {},\n  parameters = {},\n} = request;\n\nasync function makeRequest() {\n  const resourceConfig = supersonic.api.data.getResourceConfig(resourceName);\n  // const gyverDomain = supersonic.api.app.getGyverDomainSync();\n\n  const getTLD = () => {\n    const environment = self.DOLAN.environment.endpoints.data;\n    let TLD = environment.match(/.*\\.(.*gyver\\..{2,5})\\//)[1];\n    if (TLD.includes('/')) {\n      TLD = TLD.substring(9, TLD.length - 3);\n    } else {\n      TLD = TLD.substring(9, TLD.length);\n    }\n    return TLD;\n  };\n\n  const TLD = self.DOLAN ? getTLD() : '';\n  if (!resourceConfig) {\n    if (TLD === 'eu' || TLD === 'black') {\n      throw new Error(`Couldn't find data resource with given name: ${resourceName}.`);\n    }\n    // This is assumed to be a legacy data resource\n    const data = await supersonic.resource.update(resourceName, { object: properties }, id);\n    return data && data.value && data.value.object;\n  }\n\n  if (resourceConfig.type === 'agdb') {\n    const data = await supersonic.resource.update(resourceConfig.agdb_id, { object: properties }, id);\n    return data && data.value && data.value.object;\n  }\n  // Update a local data resource\n  if (resourceConfig.type === 'local') {\n    if (id == null) {\n      throw new Error(`Missing ${resourceName} record ID`);\n    }\n    // Omit the 'id' from the properties in case it has it\n    const updatedProperties = { ...properties };\n    delete updatedProperties.id;\n    const { appId } = await supersonic.api.app.getAppId();\n    const key = `local-resource:${appId}:${resourceName}:${id}`;\n    const { data: record } = await supersonic.api.asyncStorage.getItem({ key });\n    if (record == null || typeof record !== 'object' || typeof record.id === 'undefined') {\n      throw new Error(`Record ${resourceName} with ID ${id} does not exist`);\n    }\n    const updatedRecord = { ...record, ...updatedProperties };\n    await supersonic.api.asyncStorage.setItem({ key, data: updatedRecord });\n    return updatedRecord;\n  }\n  if (['odata'].includes(resourceConfig.type)) {\n    const driver = supersonic.api.data.drivers[resourceConfig.type];\n    if (!driver) {\n      throw new Error(`Missing driver for Resource ${resourceName}`);\n    }\n    const agQuery = {\n      resource: {\n        ...resourceConfig,\n        // Adding baseURL here as transdolan strips original baseURL...\n        baseURL: resourceConfig.base_url,\n      },\n      operation: 'update',\n      ...request,\n    };\n    const response = await driver.execute(agQuery);\n    if (!response || !response.data || response.data.error) {\n      throw new Error(response.data && response.data.error ? response.data.error : 'Update request failed');\n    }\n    return response.data;\n  }\n  // Update a \"REST\" data resource\n  const operation = resourceConfig.operations.replace;\n  if (!operation) {\n    throw new Error(`Resource ${resourceName} does not support updating records`);\n  }\n  const requestParameters = [\n    ...resourceConfig.parameters,\n    ...operation.parameters,\n  ];\n  const requestSchema = operation.request_schema;\n  const isEmptyResponse = !properties || (requestSchema != null && requestSchema.type === 'undefined');\n  const headers = isEmptyResponse ? {} : { 'Content-Type': 'application/json' };\n  const body = isEmptyResponse ? undefined : JSON.stringify(properties);\n  const queryComponents = [];\n  let url = `${resourceConfig.base_url}${operation.relative_path || ''}`;\n  requestParameters.forEach((parameter) => {\n    let value = parameters[parameter.id];\n    if (parameter.is_static || typeof value === 'undefined') {\n      value = parameter.default;\n    }\n    if (value == null) {\n    // No value for this parameter\n      if (parameter.is_optional) {\n        return;\n      }\n      throw new Error(`Missing required parameter ${JSON.stringify(parameter.title)}`);\n    }\n    // Map the parameter to headers/URL/query\n    const { placement } = parameter;\n    const placementKey = parameter.placement_key;\n    if (placement === 'header') {\n      // Add to headers\n      headers[placementKey] = value;\n    } else if (placement === 'query') {\n      // Add to the URL as a query parameter\n      queryComponents.push(`${encodeURIComponent(placementKey)}=${encodeURIComponent(String(value))}`);\n    } else if (placement === 'path') {\n      // Replace the placeholder in the URL with escaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), encodeURIComponent(String(value)));\n    } else if (placement === 'url') {\n      // Replace the placeholder in the URL with unescaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), String(value));\n    }\n  });\n  // Add any query parameters to the URL\n  if (queryComponents.length) {\n    const newQuery = queryComponents.join('&');\n    url = url.replace(/(?:\\?(.*))?$/, (_, query) => (query ? `?${query}&${newQuery}` : `?${newQuery}`));\n  }\n  // Perform the request\n  const method = operation.method || 'PUT';\n  const response = await fetch(url, { method, headers, body });\n  if (!response.ok) {\n    throw response;\n  }\n  let result = await response.json();\n  const resultPath = operation.response_key_path ? operation.response_key_path.split('.') : [];\n  while (result != null && resultPath.length) {\n    result = result[resultPath.shift()];\n  }\n  return result;\n}\n\ntry {\n  const response = await makeRequest();\n  return [0, { response }];\n} catch (error) {\n  // eslint-disable-next-line no-console\n  // console.warn(error);\n  let errorStr = String(error);\n\n  if (errorStr.startsWith('Error: Couldn\\'t find data resource')) {\n    return [1, {\n      error: {\n        code: 'resourceNotFound',\n        status: 404,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n\n  if (errorStr === 'TypeError: Failed to fetch') {\n    errorStr += '. Does the server allow CORS?';\n    return [1, {\n      error: {\n        code: 'requestFailed',\n        status: error.status,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  } if (!error.json) {\n    return [1, {\n      error: {\n        code: 'unknown',\n        status: -1,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  let rawError;\n  try {\n    const body = await error.json();\n    rawError = body;\n    errorStr = `JSON error response from server: ${JSON.stringify(body)}.`;\n  } catch {\n    errorStr = 'Non-JSON error body.';\n    rawError = { message: errorStr };\n  } finally {\n    // eslint-disable-next-line no-unsafe-finally\n    return [1, {\n      error: {\n        code: 'serverError',\n        status: error.status,\n        message: errorStr,\n        rawError,\n      },\n    }];\n  }\n}","type":"function2","noerr":0,"wires":[["58e438b4.7c48c"],["1b4bfc12.808a7"]],"outputs":2,"function_inputs":{"key":{"request":{"key":"request","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceReplaceResponse","title":"Response","description":"Response returned by the data resource after the record is successfully updated."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while updating the record."}},"additionalProperties":false}]},{"x":420,"y":100,"z":"own_1adc86bb.3d695","id":"535540ab.3d2c0","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@14bb0cac.78d37","source":"node"}},"source":"object"}},{"x":420,"y":50,"z":"own_21057d66.1a85e","id":"58e438b4.7c48c","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"response":{"key":"response@@@441d4b92.6ac8d","source":"node"}},"source":"object"}},{"x":210,"y":40,"z":"own_cd621d9f.3ea9b","id":"5e110cd4.1bc6b","func":"const {\n  initialDatetime,\n  confirmLabel,\n  cancelLabel,\n  minDate,\n  maxDate,\n  supersonic,\n} = inputs;\ntry {\n  if (!minDate || !maxDate) {\n    throw new Error('missingRequiredProperties');\n  }\n  const res = await supersonic.api.datePicker.show({\n    value: initialDatetime,\n    confirmBtnText: confirmLabel,\n    cancelBtnText: cancelLabel,\n    mode: 'datetime',\n    minDate,\n    maxDate,\n    format: 'YYYY-MM-DDTHH:mm:ssZ',\n  });\n  if (res.didCancel) {\n    return [1];\n  }\n  return [0, { pickedDatetime: res.datetime }];\n} catch (error) {\n  if (String(error).includes('missingRequiredProperties')) {\n    return [2, {\n      error: {\n        code: 'missingRequiredProperties',\n        message: 'Please make sure you have given all of the required properties',\n        rawError: error,\n      },\n    }];\n  }\n  return [2, {\n    error: {\n      code: 'unknown',\n      message: 'Unknown error occurred',\n      rawError: error,\n    },\n  }];\n}","type":"function2","noerr":0,"wires":[["13b0723d.585e8"],["bc4374f9.1194f"],["edcd0345.516b6"]],"outputs":3,"function_inputs":{"key":{"maxDate":{"key":"maxDate","source":"input"},"minDate":{"key":"minDate","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"},"cancelLabel":{"key":"cancelLabel","source":"input"},"confirmLabel":{"key":"confirmLabel","source":"input"},"initialDateTime":{"key":"initialDateTime","source":"input"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"pickedDatetime":{"name":"pickedDatetime","type":"string","title":"Picked datetime","description":"Picked datetime as an ISO 8601 format string, including timezone data, e.g. `2019-10-03T23:05:04Z`."}},"additionalProperties":false},{"type":"object","properties":{},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["unknown","missingRequiredProperties"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `unknown`: Thrown if an unknown error occurred while picking the date.\n- `missingRequiredProperties`: Thrown if there are missing required properties."}},"additionalProperties":false}]},{"x":210,"y":40,"z":"own_8fe6bea6.1072","id":"6afc87de.47ec9","func":"const { request, supersonic } = inputs;\nconst {\n  resourceName,\n  properties,\n  id,\n  parameters = {},\n} = request;\n\nasync function makeRequest() {\n  const resourceConfig = supersonic.api.data.getResourceConfig(resourceName);\n  // const gyverDomain = supersonic.api.app.getGyverDomainSync();\n\n  const getTLD = () => {\n    const environment = self.DOLAN.environment.endpoints.data;\n    let TLD = environment.match(/.*\\.(.*gyver\\..{2,5})\\//)[1];\n    if (TLD.includes('/')) {\n      TLD = TLD.substring(9, TLD.length - 3);\n    } else {\n      TLD = TLD.substring(9, TLD.length);\n    }\n    return TLD;\n  };\n\n  const TLD = self.DOLAN ? getTLD() : '';\n  if (!resourceConfig) {\n    if (TLD === 'eu' || TLD === 'black') {\n      throw new Error(`Couldn't find data resource with given name: ${resourceName}.`);\n    }\n    // This is assumed to be a legacy data resource\n    await supersonic.resource.remove(resourceName, id);\n    return {};\n  }\n  // Delete a local data resource\n  if (resourceConfig.type === 'local') {\n    if (id == null) {\n      throw new Error(`Missing ${resourceName} record ID`);\n    }\n    const { appId } = await supersonic.api.app.getAppId();\n    const key = `local-resource:${appId}:${resourceName}:${id}`;\n    await supersonic.api.asyncStorage.removeItem({ key });\n    return {};\n  }\n  if (resourceConfig.type === 'agdb') {\n    const data = await supersonic.resource.remove(resourceConfig.agdb_id, id);\n    return data && data.value && data.value.object;\n  }\n  if (['odata'].includes(resourceConfig.type)) {\n    const driver = supersonic.api.data.drivers[resourceConfig.type];\n    if (!driver) {\n      throw new Error(`Missing driver for Resource ${resourceName}`);\n    }\n    const agQuery = {\n      resource: {\n        ...resourceConfig,\n        // Adding baseURL here as transdolan strips original baseURL...\n        baseURL: resourceConfig.base_url,\n      },\n      operation: 'delete',\n      ...request,\n    };\n    const response = await driver.execute(agQuery);\n    if (!response || !response.data || response.data.error) {\n      throw new Error(response.data && response.data.error ? response.data.error : 'Request failed');\n    }\n    return response.data;\n  }\n  // Delete a \"REST\" data resource\n  const operation = resourceConfig.operations.delete;\n  if (!operation) {\n    throw new Error(`Resource ${resourceName} does not support deleting records`);\n  }\n  const requestParameters = [\n    ...resourceConfig.parameters,\n    ...operation.parameters,\n  ];\n  const requestSchema = operation.request_schema;\n  const isEmptyResponse = !properties || (requestSchema != null && requestSchema.type === 'undefined');\n  const headers = isEmptyResponse ? {} : { 'Content-Type': 'application/json' };\n  const body = isEmptyResponse ? undefined : JSON.stringify(properties);\n  const queryComponents = [];\n  let url = `${resourceConfig.base_url}${operation.relative_path || ''}`;\n  requestParameters.forEach((parameter) => {\n    let value = parameters[parameter.id];\n    if (parameter.is_static || typeof value === 'undefined') {\n      value = parameter.default;\n    }\n    if (value == null) {\n      // No value for this parameter\n      if (parameter.is_optional) {\n        return;\n      }\n      throw new Error(`Missing required parameter ${JSON.stringify(parameter.title)}`);\n    }\n    // Map the parameter to headers/URL/query\n    const { placement } = parameter;\n    const placementKey = parameter.placement_key;\n    if (placement === 'header') {\n      // Add to headers\n      headers[placementKey] = value;\n    } else if (placement === 'query') {\n      // Add to the URL as a query parameter\n      queryComponents.push(`${encodeURIComponent(placementKey)}=${encodeURIComponent(String(value))}`);\n    } else if (placement === 'path') {\n      // Replace the placeholder in the URL with escaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), encodeURIComponent(String(value)));\n    } else if (placement === 'url') {\n      // Replace the placeholder in the URL with unescaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), String(value));\n    }\n  });\n  // Add any query parameters to the URL\n  if (queryComponents.length) {\n    const newQuery = queryComponents.join('&');\n    url = url.replace(/(?:\\?(.*))?$/, (_, query) => (query ? `?${query}&${newQuery}` : `?${newQuery}`));\n  }\n  // Perform the request\n  const response = await fetch(url, { method: 'DELETE', headers, body });\n  if (!response.ok) {\n    throw response;\n  }\n  let result;\n  try {\n    result = await response.json();\n  } catch (error) {\n    result = {};\n  }\n  const resultPath = operation.response_key_path ? operation.response_key_path.split('.') : [];\n  while (result != null && resultPath.length) {\n    result = result[resultPath.shift()];\n  }\n  return result;\n}\n\ntry {\n  const response = await makeRequest();\n  return [0, { response }];\n} catch (error) {\n  // eslint-disable-next-line no-console\n  // console.warn(error);\n  let errorStr = String(error);\n\n  if (errorStr.startsWith('Error: Couldn\\'t find data resource')) {\n    return [1, {\n      error: {\n        code: 'resourceNotFound',\n        status: 404,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n\n  if (errorStr === 'TypeError: Failed to fetch') {\n    errorStr += '. Does the server allow CORS?';\n    return [1, {\n      error: {\n        code: 'requestFailed',\n        status: error.status,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  } if (!error.json) {\n    return [1, {\n      error: {\n        code: 'unknown',\n        status: -1,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  let rawError;\n  try {\n    const body = await error.json();\n    rawError = body;\n    errorStr = `JSON error response from server: ${JSON.stringify(body)}.`;\n  } catch {\n    errorStr = 'Non-JSON error body.';\n    rawError = { message: errorStr };\n  } finally {\n    // eslint-disable-next-line no-unsafe-finally\n    return [1, {\n      error: {\n        code: 'serverError',\n        status: error.status,\n        message: errorStr,\n        rawError,\n      },\n    }];\n  }\n}","type":"function2","noerr":0,"wires":[["1333ac45.8009c"],["6b1b3c9b.2009a"]],"outputs":2,"function_inputs":{"key":{"request":{"key":"request","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceDeleteResponse","title":"Response","description":"Response returned by the data resource after the record is successfully deleted."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while deleting the record."}},"additionalProperties":false}]},{"x":420,"y":100,"z":"own_8fe6bea6.1072","id":"6b1b3c9b.2009a","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@6afc87de.47ec9","source":"node"}},"source":"object"}},{"x":420,"y":100,"z":"own_d51109f.3b25d","id":"731bd1e9.4983c","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@19b93bf3.89208","source":"node"}},"source":"object"}},{"x":420,"y":50,"z":"own_1e592fb6.ded18","id":"9974213d.3293a","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":210,"y":40,"z":"own_1d5846be.28931","id":"ac219eb2.beaf5","func":"const {\n  captureLabel,\n  cancelLabel,\n  cameraType,\n  // requestPermission,\n  // permissionRationale,\n  supersonic,\n} = inputs;\ntry {\n  const res = await supersonic.api.camera.v2.openPhoto({\n    labelCapture: captureLabel,\n    labelCancel: cancelLabel,\n    cameraType,\n    // requestPermission,\n    // permissionRationale,\n  });\n  if (res.state === 'cancel') {\n    return [1];\n  }\n  return [0, { photoFile: res.file }];\n} catch (error) {\n  return [2, {\n    error: {\n      code: 'unknown',\n      message: 'Unknown error occurred',\n      rawError: error,\n    },\n  }];\n}","type":"function2","noerr":0,"wires":[["b5178646.5aa46"],["f689040a.88701"],["23b05ac5.811d6"]],"outputs":3,"function_inputs":{"key":{"contextId":{"key":"contextId","source":"msg"},"cameraType":{"key":"cameraType","source":"input"},"supersonic":{"key":"supersonic","source":"msg"},"cancelLabel":{"key":"cancelLabel","source":"input"},"captureLabel":{"key":"captureLabel","source":"input"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"photoFile":{"name":"photoFile","type":"object","title":"Photo file","properties":{"name":{"type":"string","label":"Name","description":"Name of the file in the local filesystem, if applicable. Note that the filename and extension are included in the **Local path** property already."},"path":{"type":"string","label":"Local path","format":"local-filesystem-reference","description":"Absolute local filesystem path representing the file location on the device, including the filename and extension. On web, this is created via the [`createObjectURL`](https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL) method."},"size":{"type":"number","label":"Size","format":"integer","description":"Size of the file, in bytes."},"mimeType":{"type":"string","label":"MIME type","format":"mime-type","description":"MIME type of the file, if it could be determined."},"createdAt":{"type":"string","label":"Created at","format":"date-time","description":"Creation datetime of the file, if it can be determined."},"modifiedAt":{"type":"string","label":"Modified at","format":"date-time","description":"Datetime when the file was last modified, if it can be determined."}},"description":"Object representing the captured photo file in the local filesystem."}},"additionalProperties":false},{"type":"object","properties":{},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `unknown`: Thrown when calling the native API resulted in an unknown error."}},"additionalProperties":false}]},{"x":420,"y":50,"z":"own_2277ac59.912ff","id":"b1539337.3b2a5","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":420,"y":50,"z":"own_1d5846be.28931","id":"b5178646.5aa46","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"photoFile":{"key":"photoFile@@@ac219eb2.beaf5","source":"node"}},"source":"object"}},{"x":420,"y":100,"z":"own_cd621d9f.3ea9b","id":"bc4374f9.1194f","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":420,"y":50,"z":"own_d51109f.3b25d","id":"c55913f3.8d802","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"record":{"key":"record@@@19b93bf3.89208","source":"node"}},"source":"object"}},{"x":420,"y":100,"z":"own_1d6d336a.9126c","id":"ca3c4967.8fc25","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@1ed52ea2.56495","source":"node"}},"source":"object"}},{"x":210,"y":40,"z":"own_d3017e4c.77a15","id":"ca87dbc7.5e482","func":"const { supersonic } = inputs;\nawait supersonic.api.navigation.replaceToInit();","type":"function2","noerr":0,"wires":[],"outputs":0,"function_inputs":{"key":{"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[]},{"x":420,"y":50,"z":"own_bd0c25ba.5aaf3","id":"d12b40e5.694bb","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":210,"y":40,"z":"own_105ec0bb.2f7d7","id":"dd5da27b.11c99","func":"const { assignment, supersonic, contextId } = inputs;\nconst { reference, data } = assignment || {};\nawait supersonic.context.setDataReference(reference, data, true, contextId);","type":"function2","noerr":0,"wires":[["15f7596e.557a0"]],"outputs":1,"function_inputs":{"key":{"contextId":{"key":"contextId","source":"msg"},"assignment":{"key":"assignment","source":"input"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{},"additionalProperties":false}]},{"x":210,"y":40,"z":"own_212bc4df.27d56","id":"ec5f3811.2f5fa","func":"const { variable, supersonic, contextId } = inputs;\nconst { reference, value } = variable;\nawait supersonic.context.setAppVariable(reference, value, contextId);","type":"function2","noerr":0,"wires":[["184083d6.635bb"]],"outputs":1,"function_inputs":{"key":{"variable":{"key":"variable","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{},"additionalProperties":false}]},{"x":420,"y":150,"z":"own_cd621d9f.3ea9b","id":"edcd0345.516b6","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@5e110cd4.1bc6b","source":"node"}},"source":"object"}},{"x":210,"y":40,"z":"own_100f5064.6f140","id":"f0bf1a1a.10aa3","func":"const { request, supersonic } = inputs;\nconst { resourceName, parameters = {} } = request;\n\nasync function makeRequest() {\n  const resourceConfig = supersonic.api.data.getResourceConfig(resourceName);\n\n  if (!resourceConfig || resourceConfig.type === 'agdb') {\n    // This is assumed to be a legacy data resource\n    const query = parameters.query || {};\n    // AGDB -related parameters are added to the query in a special way\n    const { sort } = parameters;\n    const { filters } = parameters;\n    const { limit } = parameters;\n    const { skip } = parameters;\n\n    if (sort != null) {\n      query.sort = JSON.stringify(sort);\n    }\n    if (filters != null) {\n      query.query = JSON.stringify(filters);\n    }\n    if (limit != null) {\n      query.limit = limit;\n    }\n    if (skip != null) {\n      query.skip = skip;\n    }\n\n    const backendResourceName = (resourceConfig && resourceConfig.agdb_id) || resourceName;\n    const data = await supersonic.resource.findAll(backendResourceName, query);\n    return (data && data.value && data.value.objects) || [];\n  }\n  // Load a local data resource\n  if (resourceConfig.type === 'local') {\n    const { appId } = await supersonic.api.app.getAppId();\n    const keyPrefix = `local-resource:${appId}:${resourceName}:`;\n    const { data: allKeys } = await supersonic.api.asyncStorage.getAllKeys();\n    const keys = allKeys.filter((key) => key.startsWith(keyPrefix));\n    const { data: results } = await supersonic.api.asyncStorage.multiGet({ data: keys });\n    return (results || [])\n      .map(([, record]) => {\n        if (typeof record === 'string') {\n          try {\n            return JSON.parse(record);\n          } catch (error) {\n            return null;\n          }\n        }\n        return record;\n      })\n      .filter((record) => record != null && typeof record === 'object' && typeof record.id !== 'undefined');\n  }\n  if (['odata'].includes(resourceConfig.type)) {\n    const driver = supersonic.api.data.drivers[resourceConfig.type];\n    if (!driver) {\n      throw new Error(`Missing driver for Resource ${resourceName}`);\n    }\n    const agQuery = {\n      resource: {\n        ...resourceConfig,\n        // Adding baseURL here as transdolan strips original base url...\n        baseURL: resourceConfig.base_url,\n      },\n      operation: 'list',\n      ...request,\n    };\n    const response = await driver.execute(agQuery);\n    if (!response || !response.data || response.data.error) {\n      throw new Error(response.data && response.data.error ? response.data.error : 'Request failed');\n    }\n    return response.data;\n  }\n  // Load a \"REST\" data resource\n  const operation = resourceConfig.operations.list;\n  if (!operation) {\n    throw new Error(`Resource ${resourceName} does not support getting record collections`);\n  }\n  const requestParameters = [\n    ...resourceConfig.parameters,\n    ...operation.parameters,\n  ];\n  const headers = {};\n  const queryComponents = [];\n  let url = `${resourceConfig.base_url}${operation.relative_path || ''}`;\n  requestParameters.forEach((parameter) => {\n    let value = parameters[parameter.id];\n    if (parameter.is_static || typeof value === 'undefined') {\n      value = parameter.default;\n    }\n    if (value == null) {\n      // No value for this parameter\n      if (parameter.is_optional) {\n        return;\n      }\n      throw new Error(`Missing required parameter ${JSON.stringify(parameter.title)}`);\n    }\n    // Map the parameter to headers/URL/query\n    const { placement } = parameter;\n    const placementKey = parameter.placement_key;\n    if (placement === 'header') {\n      // Add to headers\n      headers[placementKey] = value;\n    } else if (placement === 'query') {\n      // Add to the URL as a query parameter\n      queryComponents.push(`${encodeURIComponent(placementKey)}=${encodeURIComponent(String(value))}`);\n    } else if (placement === 'path') {\n      // Replace the placeholder in the URL with escaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), encodeURIComponent(String(value)));\n    } else if (placement === 'url') {\n      // Replace the placeholder in the URL with unescaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), String(value));\n    }\n  });\n  // Add any query parameters to the URL\n  if (queryComponents.length) {\n    const newQuery = queryComponents.join('&');\n    url = url.replace(/(?:\\?(.*))?$/, (_, query) => (query ? `?${query}&${newQuery}` : `?${newQuery}`));\n  }\n  // Perform the request\n  const response = await fetch(url, { method: 'GET', headers });\n  if (!response.ok) {\n    throw response;\n  }\n  const responseJson = await response.json();\n  let results = responseJson;\n  const resultPath = operation.response_key_path ? operation.response_key_path.split('.') : [];\n  while (results != null && resultPath.length) {\n    results = results[resultPath.shift()];\n  }\n  if (!Array.isArray(results)) {\n    throw new Error(`\nThe result was not an array. Maybe the data you're looking for is inside one of the response object keys?\n\n${JSON.stringify(responseJson, null, 2)}\n`);\n  }\n  return results;\n}\n\ntry {\n  const records = await makeRequest();\n  return [0, { records }];\n} catch (error) {\n  // eslint-disable-next-line no-console\n  // console.warn(error);\n  let errorStr = String(error);\n\n  if (errorStr.startsWith('Error: Couldn\\'t find data resource')) {\n    return [1, {\n      error: {\n        code: 'resourceNotFound',\n        status: 404,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  if (errorStr === 'TypeError: Failed to fetch') {\n    errorStr += '. Does the server allow CORS?';\n    return [1, {\n      error: {\n        code: 'requestFailed',\n        status: error.status,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  } if (!error.json) {\n    return [1, {\n      error: {\n        code: 'unknown',\n        status: -1,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  let rawError;\n  try {\n    const body = await error.json();\n    rawError = body;\n    errorStr = `JSON error response from server: ${JSON.stringify(body)}.`;\n  } catch {\n    errorStr = 'Non-JSON error body.';\n    rawError = { message: errorStr };\n  } finally {\n    // eslint-disable-next-line no-unsafe-finally\n    return [1, {\n      error: {\n        code: 'serverError',\n        status: error.status,\n        message: errorStr,\n        rawError,\n      },\n    }];\n  }\n}","type":"function2","noerr":0,"wires":[["1fe9fc4d.4458c"],["1c88f5a9.1d6dc"]],"outputs":2,"function_inputs":{"key":{"request":{"key":"request","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"records":{"name":"records","type":"dataResourceListResponse","title":"Collection of records","description":"The successfully retrieved collection of records."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while fetching the collection of records."}},"additionalProperties":false}]},{"x":420,"y":100,"z":"own_1d5846be.28931","id":"f689040a.88701","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"id":"own_8fe6bea6.1072","in":[{"x":40,"y":40,"wires":[{"id":"6afc87de.47ec9"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"1333ac45.8009c","port":0}]},{"x":490,"y":100,"wires":[{"id":"6b1b3c9b.2009a","port":0}]}],"type":"subflow","arguments":[{"name":"request","type":"dataResourceDeleteRequest","title":"Delete data record request","minLength":1,"description":"Configuration required by the data resource to delete a single data record."}],"outputSchemas":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceDeleteResponse","title":"Response","description":"Response returned by the data resource after the record is successfully deleted."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while deleting the record."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_d51109f.3b25d","in":[{"x":40,"y":40,"wires":[{"id":"19b93bf3.89208"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"c55913f3.8d802","port":0}]},{"x":490,"y":100,"wires":[{"id":"731bd1e9.4983c","port":0}]}],"type":"subflow","arguments":[{"name":"request","type":"dataResourceRetrieveRequest","title":"Get data record request","minLength":1,"description":"Configuration required by the selected data resource to get a single data record."}],"outputSchemas":[{"type":"object","properties":{"record":{"name":"record","type":"dataResourceRetrieveResponse","title":"Record","description":"The successfully retrieved record."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown","responseMustBeObject"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while fetching the record.\n- `responseMustBeObject`: Thrown if the server does not return an object as a response for a single data record request."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_100f5064.6f140","in":[{"x":40,"y":40,"wires":[{"id":"f0bf1a1a.10aa3"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"1fe9fc4d.4458c","port":0}]},{"x":490,"y":100,"wires":[{"id":"1c88f5a9.1d6dc","port":0}]}],"type":"subflow","arguments":[{"name":"request","type":"dataResourceListRequest","title":"Get data record collection request","minLength":1,"description":"Configuration required by the selected data resource to get a collection of data records."}],"outputSchemas":[{"type":"object","properties":{"records":{"name":"records","type":"dataResourceListResponse","title":"Collection of records","description":"The successfully retrieved collection of records."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while fetching the collection of records."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_105ec0bb.2f7d7","in":[{"x":40,"y":40,"wires":[{"id":"dd5da27b.11c99"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"15f7596e.557a0","port":0}]}],"type":"subflow","arguments":[{"name":"assignment","type":"dataReferenceAssignment","title":"Data variable","minLength":1,"description":"Data variable to set"}],"outputSchemas":[{"type":"object","properties":{},"additionalProperties":false}],"outputArguments":[]},{"id":"own_1a919264.5ec10","in":[{"x":40,"y":40,"wires":[{"id":"1b0c66a2.53306"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"16a419b3.92ebe","port":0}]},{"x":490,"y":100,"wires":[{"id":"1cfb0c96.18e5d","port":0}]}],"type":"subflow","arguments":[{"name":"credentials","type":"object","title":"Credentials","minLength":1,"description":"Credentials object to send to the backend. For AppGyver Hosted Auth, this should always contain the `username` and `password` keys. For Cloud Auth, the credentials object can contain whatever is required by your integration."}],"outputSchemas":[{"type":"object","properties":{"currentUser":{"name":"currentUser","type":"object","title":"Current user","properties":{"id":{"type":"number","label":"ID","format":"integer","description":"Unique user ID for the logged-in user."},"groups":{"item":{"type":"object","properties":{"id":{"type":"string","label":"Group ID","description":"Group ID number."}}},"type":"array","label":"Groups","description":"Groups the user belongs to."},"metadata":{"type":"object","label":"Metadata","description":"User metadata. Since no schema is enforced by the backend, it is given here as a schemaless object."},"username":{"type":"string","label":"Username","description":"Username for the logged-in user, typically an email address"},"accessToken":{"type":"string","label":"Access token","description":"Access token used to access AppGyver-hosted cloud resources, such as databases or integrations."}},"description":"Object containing the current user information."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["authFailed"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `authFailed`: Thrown if the authenticating the user failed."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_1adc86bb.3d695","in":[{"x":40,"y":40,"wires":[{"id":"14bb0cac.78d37"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"183beec1.44fbe","port":0}]},{"x":490,"y":100,"wires":[{"id":"535540ab.3d2c0","port":0}]}],"type":"subflow","arguments":[{"name":"title","type":"json","title":"Dialog title","default":"Confirm?","minLength":1,"description":"Title text to show on the confirm dialog."},{"name":"message","type":"json","title":"Dialog message","description":"Message text to show under the title."},{"name":"confirmLabel","type":"string","title":"Confirm button label","default":"Confirm","description":"Text label on the confirm button."},{"name":"cancelLabel","type":"string","title":"Cancel button label","default":"Cancel","description":"Text label on the cancel button"}],"outputSchemas":[{"type":"object","properties":{"confirmed":{"name":"confirmed","type":"boolean","title":"Confirmed?","description":"`true` if the confirm button was pressed, `false` if the cancel button was pressed."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `unknown`: Unknown error occure while trying to get clipboard content."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_1d5846be.28931","in":[{"x":40,"y":40,"wires":[{"id":"ac219eb2.beaf5"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"b5178646.5aa46","port":0}]},{"x":490,"y":100,"wires":[{"id":"f689040a.88701","port":0}]},{"x":490,"y":160,"wires":[{"id":"23b05ac5.811d6","port":0}]}],"type":"subflow","arguments":[{"name":"captureLabel","type":"string","title":"Capture button label","default":"Capture","minLength":1,"description":"Text label on the capture button."},{"name":"cancelLabel","type":"string","title":"Cancel button label","default":"Cancel","minLength":1,"description":"Text label on the cancel button."},{"enum":["back","front"],"name":"cameraType","type":"string","title":"Camera type","default":"back","description":"Camera type to open, either front or back."}],"buildservice":{"platforms":{"ios":{"includedPlugins":["react-native-camera","react-native-permissions","react-native-fs","rn-fetch-blob"],"includedPermissions":["NSCameraUsageDescription"]},"web":{},"android":{"includedPlugins":["react-native-camera","react-native-permissions","react-native-fs","rn-fetch-blob"],"includedPermissions":["CAMERA"]}}},"outputSchemas":[{"type":"object","properties":{"photoFile":{"name":"photoFile","type":"object","title":"Photo file","properties":{"name":{"type":"string","label":"Name","description":"Name of the file in the local filesystem, if applicable. Note that the filename and extension are included in the **Local path** property already."},"path":{"type":"string","label":"Local path","format":"local-filesystem-reference","description":"Absolute local filesystem path representing the file location on the device, including the filename and extension. On web, this is created via the [`createObjectURL`](https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL) method."},"size":{"type":"number","label":"Size","format":"integer","description":"Size of the file, in bytes."},"mimeType":{"type":"string","label":"MIME type","format":"mime-type","description":"MIME type of the file, if it could be determined."},"createdAt":{"type":"string","label":"Created at","format":"date-time","description":"Creation datetime of the file, if it can be determined."},"modifiedAt":{"type":"string","label":"Modified at","format":"date-time","description":"Datetime when the file was last modified, if it can be determined."}},"description":"Object representing the captured photo file in the local filesystem."}},"additionalProperties":false},{"type":"object","properties":{},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `unknown`: Thrown when calling the native API resulted in an unknown error."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_1d6d336a.9126c","in":[{"x":40,"y":40,"wires":[{"id":"1ed52ea2.56495"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"10544d20.64c85","port":0}]},{"x":490,"y":100,"wires":[{"id":"ca3c4967.8fc25","port":0}]}],"type":"subflow","arguments":[{"name":"request","type":"dataResourceCreateRequest","title":"Create data record request","minLength":1,"description":"Configuration required by the selected data resource to create a new data record."}],"outputSchemas":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceCreateResponse","title":"Response","description":"Response returned by the data resource after the record is successfully created."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while creating the record."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_1e592fb6.ded18","in":[{"x":40,"y":40,"wires":[{"id":"10893c1c.18845"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"9974213d.3293a","port":0}]},{"x":490,"y":100,"wires":[{"id":"776de3d.716a4","port":0}]}],"type":"subflow","arguments":[{"name":"url","type":"string","title":"URL to open","minLength":1,"description":"The URL to open."}],"outputSchemas":[{"type":"object","properties":{},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["couldNotOpenURLError"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `couldNotOpenURLError`: Triggered if the URL could not be opened."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_21057d66.1a85e","in":[{"x":40,"y":40,"wires":[{"id":"441d4b92.6ac8d"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"58e438b4.7c48c","port":0}]},{"x":490,"y":100,"wires":[{"id":"1b4bfc12.808a7","port":0}]}],"type":"subflow","arguments":[{"name":"request","type":"dataResourceReplaceRequest","title":"Update data record request","minLength":1,"description":"Configuration required by the selected data resource to update an existing data record."}],"outputSchemas":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceReplaceResponse","title":"Response","description":"Response returned by the data resource after the record is successfully updated."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while updating the record."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_212bc4df.27d56","in":[{"x":40,"y":40,"wires":[{"id":"ec5f3811.2f5fa"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"184083d6.635bb","port":0}]}],"type":"subflow","arguments":[{"name":"variable","type":"appVariableAssignment","title":"Set app variable","minLength":1,"description":"Sets the target app variable to a new value."}],"outputSchemas":[{"type":"object","properties":{},"additionalProperties":false}],"outputArguments":[]},{"id":"own_2277ac59.912ff","in":[{"x":40,"y":40,"wires":[{"id":"14ff44fa.42c4b"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"b1539337.3b2a5","port":0}]}],"type":"subflow","arguments":[{"name":"page","type":"page","title":"Page","minLength":1,"description":"Target page to navigate to."},{"name":"params","type":"object","title":"Parameters","minLength":1,"description":"Parameters to pass to the target page."},{"name":"openInModal","type":"boolean","title":"Open in modal?","default":false,"minLength":1,"description":"If `true`, the page will be opened in a modal window."}],"outputSchemas":[{"type":"object","properties":{},"additionalProperties":false}],"outputArguments":[]},{"id":"own_23268044.e1e2b","in":[{"x":40,"y":40,"wires":[{"id":"12488c73.5bfa4"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"1e52f98a.20216","port":0}]}],"type":"subflow","arguments":[{"name":"variable","type":"pageVariableAssignment","title":"Set page variable","minLength":1,"description":"Sets the target page variable to a new value."}],"outputSchemas":[{"type":"object","properties":{},"additionalProperties":false}],"outputArguments":[]},{"id":"own_23304c38.378bb","in":[{"x":40,"y":40,"wires":[{"id":"189cb4c2.4aa06"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"1d5efc97.17257","port":0}]},{"x":490,"y":100,"wires":[{"id":"1c0222c6.1c14d","port":0}]},{"x":490,"y":160,"wires":[{"id":"200efa5e.a4b24","port":0}]}],"type":"subflow","arguments":[{"enum":["aztec","code128","code39","code39mod43","code93","ean13","ean8","pdf417","qr","upce","interleaved2of5","itf14","datamatrix"],"name":"codeType","type":"string","title":"Code type to recognize","default":"qr","minLength":1,"description":"QR/barcode type to recognize."},{"name":"cancelLabel","type":"string","title":"Cancel button label","default":"Cancel","minLength":1,"description":"Text label on the cancel button."}],"buildservice":{"platforms":{"ios":{"includedPlugins":["react-native-camera","react-native-permissions","react-native-fs","rn-fetch-blob"],"includedPermissions":["NSCameraUsageDescription"]},"web":{},"android":{"includedPlugins":["react-native-camera","react-native-permissions","react-native-fs","rn-fetch-blob"],"includedPermissions":["CAMERA"]}}},"outputSchemas":[{"type":"object","properties":{"codeContent":{"name":"codeContent","type":"string","title":"QR barcode content","description":"Text content of the scanned QR barcode"}},"additionalProperties":false},{"type":"object","properties":{},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["permissionDenied","cameraNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `permissionDenied`: Thrown when the user does not have sufficient permissions to use the camera.\n- `cameraNotFound`: Thrown when the current device doesn't have a camera.\n- `unknown`: Thrown when calling the native API resulted in an unknown error."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_282b3fcc.5ec11","in":[{"x":40,"y":40,"wires":[{"id":"1f41115b.4a731"}]}],"out":[],"type":"subflow","arguments":[],"outputSchemas":[],"outputArguments":[]},{"id":"own_8c38c143.8847e","in":[{"x":40,"y":40,"wires":[{"id":"1d26a8c5.4b053"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"11448d84.84e18","port":0}]},{"x":490,"y":100,"wires":[{"id":"143f182b.61fe3","port":0}]},{"x":490,"y":160,"wires":[{"id":"22694950.7ebb2","port":0}]}],"type":"subflow","arguments":[{"name":"initialDate","type":"string","title":"Initial date","description":"Initially selected date in the picker, given as a ISO 8601 format string, i.e. `2019-09-04` (hours, seconds, milliseconds and timezone are irrelevant in this case and will be disregarded)."},{"name":"confirmLabel","type":"string","title":"Confirm button label","default":"Confirm","description":"Text label on the confirm button."},{"name":"cancelLabel","type":"string","title":"Cancel button label","default":"Cancel","description":"Text label on the cancel button"},{"name":"minDate","type":"string","title":"Minimum date","minLength":1,"description":"Minimum date to pick from, inclusive. The user cannot pick a date before this date."},{"name":"maxDate","type":"string","title":"Maximum date","minLength":1,"description":"Maximum date to pick from, inclusive. The user cannot pick a date after this date."}],"outputSchemas":[{"type":"object","properties":{"pickedDate":{"name":"pickedDate","type":"string","title":"Picked date","description":"Picked date as an ISO 8601 format string, e.g. `2019-10-03`."}},"additionalProperties":false},{"type":"object","properties":{},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `unknown`: Thrown if an unknown error occurred while picking a date."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_91f3e62e.3f65c","in":[{"x":40,"y":40,"wires":[{"id":"1eb859fe.2c9fd"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"2efe9993.2abdf","port":0}]}],"type":"subflow","arguments":[],"outputSchemas":[{"type":"object","properties":{},"additionalProperties":false}],"outputArguments":[]},{"id":"own_97b54227.3b127","in":[{"x":40,"y":40,"wires":[{"id":"147f90f1.617fe"}]}],"out":[{"x":380,"y":40,"wires":[{"id":"147f90f1.617fe","port":0}]}],"type":"subflow","arguments":[{"name":"time","type":"number","title":"Time to wait","default":500,"minLength":1,"description":"Time to wait as an integer. Negative values result in 0 delay."},{"enum":["ms","s","min","h"],"name":"unit","type":"string","title":"Unit","default":"ms","minLength":1,"description":"Unit of time to wait: `ms` for millisecond, `s` for second, `min` for minute and `h` for hour."}],"outputArguments":[]},{"id":"own_bd0c25ba.5aaf3","in":[{"x":40,"y":40,"wires":[{"id":"1182b19b.3b257"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"d12b40e5.694bb","port":0}]}],"type":"subflow","arguments":[{"name":"title","type":"json","title":"Dialog title","minLength":1,"description":"Title text to show on the alert dialog."},{"name":"message","type":"json","title":"Dialog message","description":"Message text to show under the title."},{"name":"dismissLabel","type":"string","title":"Dismiss button label","default":"OK","description":"Text label on the dismiss button."}],"outputSchemas":[{"type":"object","properties":{},"additionalProperties":false}],"outputArguments":[]},{"id":"own_cd621d9f.3ea9b","in":[{"x":40,"y":40,"wires":[{"id":"5e110cd4.1bc6b"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"13b0723d.585e8","port":0}]},{"x":490,"y":100,"wires":[{"id":"bc4374f9.1194f","port":0}]},{"x":490,"y":160,"wires":[{"id":"edcd0345.516b6","port":0}]}],"type":"subflow","arguments":[{"name":"initialDateTime","type":"string","title":"Initial datetime","description":"Initially selected datetime in the picker, given as a ISO 8601 format string, e.g. `2019-09-04T15:02:00.000Z`. Timezone is taken into account, so the initial datetime is presented as local time."},{"name":"confirmLabel","type":"string","title":"Confirm button label","default":"Confirm","description":"Text label on the confirm button."},{"name":"cancelLabel","type":"string","title":"Cancel button label","default":"Cancel","description":"Text label on the cancel button"},{"name":"minDate","type":"string","title":"Minimum date","minLength":1,"description":"Minimum date to pick from, inclusive. The user cannot pick a date before this date."},{"name":"maxDate","type":"string","title":"Maximum date","minLength":1,"description":"Maximum date to pick from, inclusive. The user cannot pick a date after this date."}],"outputSchemas":[{"type":"object","properties":{"pickedDatetime":{"name":"pickedDatetime","type":"string","title":"Picked datetime","description":"Picked datetime as an ISO 8601 format string, including timezone data, e.g. `2019-10-03T23:05:04Z`."}},"additionalProperties":false},{"type":"object","properties":{},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["unknown","missingRequiredProperties"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `unknown`: Thrown if an unknown error occurred while picking the date.\n- `missingRequiredProperties`: Thrown if there are missing required properties."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_d3017e4c.77a15","in":[{"x":40,"y":40,"wires":[{"id":"ca87dbc7.5e482"}]}],"out":[],"type":"subflow","arguments":[],"outputSchemas":[],"outputArguments":[]},{"x":350,"y":30,"z":"data:menu_item24239392","id":"f14d9330.6112","type":"subflow:own_d51109f.3b25d","wires":[["48320f7b.26194","448c368.b0855c8"],["448c368.b0855c8"]],"subflow_input_arguments":{"request":{"key":{"resourceName":"menu"},"source":{"resourceName":"resource"}}}},{"x":600,"y":30,"z":"data:menu_item24239392","id":"48320f7b.26194","type":"subflow:own_105ec0bb.2f7d7","wires":[[]],"subflow_input_arguments":{"assignment":{"key":{"data":"record@@@f14d9330.6112","reference":"menu_item"},"source":{"data":"node","reference":"data-reference"}}}},{"x":114,"y":41,"z":"page:9:component:a22a47fd-df29-4074-940a-ec9a9fb85b92","id":"fb4bdc29.1f93d","type":"event","wires":[["8fc0857f.43fc98"]],"idType":"event","eventSource":"page:9:component:a22a47fd-df29-4074-940a-ec9a9fb85b92:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page9"},{"x":600,"y":30,"z":"data:menu153378699","id":"2be4bd8f.d57732","type":"subflow:own_105ec0bb.2f7d7","wires":[[]],"subflow_input_arguments":{"assignment":{"key":{"data":"records@@@dceedbf9.800fb8","reference":"menu1"},"source":{"data":"node","reference":"data-reference"}}}},{"x":446,"y":62,"z":"page:9:component:5b007e96-4fdc-4f20-bf4c-4e7b6db60d83","id":"2dd92728.117458","page":"page.Page9","type":"subflow:own_2277ac59.912ff","wires":[[]],"params":{},"page-type":"page","openInModal":false,"params-type":{},"openInModal-type":"bool","subflow_input_arguments":{"page":{"key":"page.Page9","source":"page"},"params":{"key":{},"source":{}},"openInModal":{"key":false,"source":"bool"}},"pageId":"page.Page9"},{"x":350,"y":110,"z":"data:menu153378699","id":"308abdb6.382842","type":"subflow:own_97b54227.3b127","wires":[["dceedbf9.800fb8"]],"subflow_input_arguments":{"time":{"key":5000,"source":"num"},"unit":{"key":"ms","source":"str"}}},{"x":100,"y":30,"z":"data:menu153378699","id":"36d04ae8.6e8fe6","type":"event","wires":[["dceedbf9.800fb8"]],"idType":"event","eventSource":"page:9:onPageDidMount","fallbackName":"Page mounted","isConfigurable":false},{"x":350,"y":110,"z":"data:menu_item24239392","id":"448c368.b0855c8","type":"subflow:own_97b54227.3b127","wires":[["f14d9330.6112"]],"subflow_input_arguments":{"time":{"key":5000,"source":"num"},"unit":{"key":"ms","source":"str"}}},{"x":100,"y":30,"z":"data:menu_item24239392","id":"46df6cb6.daed54","type":"event","wires":[["f14d9330.6112"]],"idType":"event","eventSource":"page:9:onPageDidMount","fallbackName":"Page mounted","isConfigurable":false},{"x":100,"y":30,"z":"page:9:component:5b007e96-4fdc-4f20-bf4c-4e7b6db60d83","id":"7a3a52a.e6837ac","type":"event","wires":[["2dd92728.117458"]],"idType":"event","eventSource":"page:9:component:5b007e96-4fdc-4f20-bf4c-4e7b6db60d83:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page9"},{"x":411,"y":85,"z":"page:9:component:a22a47fd-df29-4074-940a-ec9a9fb85b92","id":"8fc0857f.43fc98","type":"subflow:own_2277ac59.912ff","wires":[[]],"subflow_input_arguments":{"page":{"key":"page.Page10","source":"page"},"params":{"key":{},"source":{}},"openInModal":{"key":false,"source":"bool"}},"pageId":"page.Page9"},{"x":350,"y":30,"z":"data:menu153378699","id":"dceedbf9.800fb8","type":"subflow:own_100f5064.6f140","wires":[["2be4bd8f.d57732","308abdb6.382842"],["308abdb6.382842"]],"subflow_input_arguments":{"request":{"key":{"resourceName":"menu"},"source":{"resourceName":"resource"}}}},{"x":114,"y":41,"z":"page:9:component:60d35588-7a36-43ec-9fa9-b68627f0a29d","id":"79fbd8a17edab.1f93d","type":"event","wires":[["f66e467227a4e.43fc98"]],"idType":"event","eventSource":"page:9:component:60d35588-7a36-43ec-9fa9-b68627f0a29d:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page9"},{"x":411,"y":85,"z":"page:9:component:60d35588-7a36-43ec-9fa9-b68627f0a29d","id":"f66e467227a4e.43fc98","page":"page.Page11","type":"subflow:own_2277ac59.912ff","wires":[[]],"params":{},"page-type":"page","openInModal":false,"params-type":{},"openInModal-type":"bool","subflow_input_arguments":{"page":{"key":"page.Page11","source":"page"},"params":{"key":{},"source":{}},"openInModal":{"key":false,"source":"bool"}},"pageId":"page.Page9"},{"x":320,"y":40,"z":"page:9","id":"c54cdd277cb59.e51b318733f6","type":"subflow:own_91f3e62e.3f65c","wires":[[]],"pageId":"page.Page9"},{"x":110,"y":40,"z":"page:9","id":"b53325b1b3651.3d6c32dd9a39a","type":"event","wires":[["c54cdd277cb59.e51b318733f6"]],"idType":"event","eventSource":"page:9:onPageDidMount","fallbackName":"Page mounted","isConfigurable":true,"pageId":"page.Page9"},{"x":350,"y":110,"z":"data:icecek126331489","id":"d40bbef3.c65b3","type":"subflow:own_97b54227.3b127","wires":[["7b6d070b.9cfa68"]],"subflow_input_arguments":{"time":{"key":5000,"source":"num"},"unit":{"key":"ms","source":"str"}}},{"x":100,"y":30,"z":"data:icecek126331489","id":"d6abdc7e.195a1","type":"event","wires":[["7b6d070b.9cfa68"]],"idType":"event","eventSource":"page:10:onPageDidMount","fallbackName":"Page mounted","isConfigurable":false},{"x":444,"y":73,"z":"page:10:component:ddae6215-e7aa-44aa-ad1f-d1823d7ea82f","id":"69c57669.686888","type":"subflow:own_2277ac59.912ff","wires":[[]],"subflow_input_arguments":{"page":{"key":"page.Page10","source":"page"},"params":{"key":{},"source":{}},"openInModal":{"key":false,"source":"bool"}},"pageId":"page.Page10"},{"x":350,"y":30,"z":"data:icecek126331489","id":"7b6d070b.9cfa68","type":"subflow:own_100f5064.6f140","wires":[["c262c6da.45ee78","d40bbef3.c65b3"],["d40bbef3.c65b3"]],"subflow_input_arguments":{"request":{"key":{"resourceName":"icecek"},"source":{"resourceName":"resource"}}}},{"x":600,"y":30,"z":"data:icecek126331489","id":"c262c6da.45ee78","type":"subflow:own_105ec0bb.2f7d7","wires":[[]],"subflow_input_arguments":{"assignment":{"key":{"data":"records@@@7b6d070b.9cfa68","reference":"icecek_menu"},"source":{"data":"node","reference":"data-reference"}}}},{"x":100,"y":30,"z":"page:10:component:ddae6215-e7aa-44aa-ad1f-d1823d7ea82f","id":"f4bc58a9.282ad8","type":"event","wires":[["69c57669.686888"]],"idType":"event","eventSource":"page:10:component:ddae6215-e7aa-44aa-ad1f-d1823d7ea82f:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page10"},{"x":110,"y":40,"z":"page:10:component:87a0b9c0-4795-4caf-9f3e-71c725478a25","id":"0fa8af89a64.44604","type":"event","wires":[["c6144f65e527e.9cd0d"]],"idType":"event","eventSource":"page:10:component:87a0b9c0-4795-4caf-9f3e-71c725478a25:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page10"},{"x":110,"y":40,"z":"page:10:component:640415f2-8509-4ed4-8536-388d709272e0","id":"2847dc445bcba.82f48","type":"event","wires":[["6dafa5dfd8831.09a62"]],"idType":"event","eventSource":"page:10:component:640415f2-8509-4ed4-8536-388d709272e0:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page10"},{"x":320,"y":40,"z":"page:10:component:640415f2-8509-4ed4-8536-388d709272e0","id":"6dafa5dfd8831.09a62","type":"event-dispatch","wires":[],"eventID":"e456469fdbf3c.ce92c8","eventIDType":"event","pageId":"page.Page10"},{"x":320,"y":40,"z":"page:10:component:87a0b9c0-4795-4caf-9f3e-71c725478a25","id":"c6144f65e527e.9cd0d","type":"event-dispatch","wires":[],"eventID":"e456469fdbf3c.ce92c8","eventIDType":"event","pageId":"page.Page10"},{"x":110,"y":40,"z":"page:10:component:47b9cb49-7de7-47d1-ba63-8a2ec4b15677","id":"05c2932f3f687.71621c","type":"event","wires":[["4457ea21e79d1.7dc2a4"]],"idType":"event","eventSource":"page:10:component:47b9cb49-7de7-47d1-ba63-8a2ec4b15677:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page10"},{"x":320,"y":40,"z":"page:10:component:47b9cb49-7de7-47d1-ba63-8a2ec4b15677","id":"4457ea21e79d1.7dc2a4","type":"event-dispatch","wires":[],"eventID":"e456469fdbf3c.ce92c8","eventIDType":"event","pageId":"page.Page10"},{"x":446,"y":62,"z":"page:10:component:17df5d3b-8932-4736-89d3-aaaef0ae169b","id":"62bc79cdf106a.117458","page":"page.Page9","type":"subflow:own_2277ac59.912ff","wires":[[]],"params":{},"page-type":"page","openInModal":false,"params-type":{},"openInModal-type":"bool","subflow_input_arguments":{"page":{"key":"page.Page9","source":"page"},"params":{"key":{},"source":{}},"openInModal":{"key":false,"source":"bool"}},"pageId":"page.Page10"},{"x":100,"y":40,"z":"page:10:component:8f54d88e-e098-4032-892d-de4a10d18f25","id":"e456469fdbf3c.ce92c8","type":"event","wires":[[]],"idType":"event","eventSource":"event-out","fallbackName":"Fired from \"Event out\"","isConfigurable":true,"pageId":"page.Page10"},{"x":100,"y":30,"z":"page:10:component:17df5d3b-8932-4736-89d3-aaaef0ae169b","id":"01bb0d1659263.e6837ac","type":"event","wires":[["62bc79cdf106a.117458"]],"idType":"event","eventSource":"page:10:component:17df5d3b-8932-4736-89d3-aaaef0ae169b:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page10"},{"x":110,"y":40,"z":"page:10","id":"52453cf3175aa.0982b26207c3d","type":"event","wires":[["c7a58de876aba.a21f05b6dba14"]],"idType":"event","eventSource":"page:10:onPageDidMount","fallbackName":"Page mounted","isConfigurable":true,"pageId":"page.Page10"},{"x":320,"y":40,"z":"page:10","id":"c7a58de876aba.a21f05b6dba14","type":"subflow:own_91f3e62e.3f65c","wires":[[]],"pageId":"page.Page10"},{"x":100,"y":30,"z":"data:yemek197164568","id":"9d004f8b.e8b0c","type":"event","wires":[["599e35c0.dacadc"]],"idType":"event","eventSource":"page:11:onPageDidMount","fallbackName":"Page mounted","isConfigurable":false},{"x":600,"y":30,"z":"data:yemek197164568","id":"eff6acff.8957b","type":"subflow:own_105ec0bb.2f7d7","wires":[[]],"subflow_input_arguments":{"assignment":{"key":{"data":"records@@@599e35c0.dacadc","reference":"yemek_menu"},"source":{"data":"node","reference":"data-reference"}}}},{"x":350,"y":30,"z":"data:icecek173175048","id":"1162a93b.58c027","type":"subflow:own_100f5064.6f140","wires":[["944a25a7.cb62a8","56877914.702fb8"],["56877914.702fb8"]],"subflow_input_arguments":{"request":{"key":{"resourceName":"icecek"},"source":{"resourceName":"resource"}}}},{"x":350,"y":110,"z":"data:icecek173175048","id":"56877914.702fb8","type":"subflow:own_97b54227.3b127","wires":[["1162a93b.58c027"]],"subflow_input_arguments":{"time":{"key":5000,"source":"num"},"unit":{"key":"ms","source":"str"}}},{"x":350,"y":30,"z":"data:yemek197164568","id":"599e35c0.dacadc","type":"subflow:own_100f5064.6f140","wires":[["eff6acff.8957b","c9d4761a.cb0798"],["c9d4761a.cb0798"]],"subflow_input_arguments":{"request":{"key":{"resourceName":"yemek"},"source":{"resourceName":"resource"}}}},{"x":600,"y":30,"z":"data:icecek173175048","id":"944a25a7.cb62a8","type":"subflow:own_105ec0bb.2f7d7","wires":[[]],"subflow_input_arguments":{"assignment":{"key":{"data":"records@@@1162a93b.58c027","reference":"icecek_menu"},"source":{"data":"node","reference":"data-reference"}}}},{"x":350,"y":110,"z":"data:yemek197164568","id":"c9d4761a.cb0798","type":"subflow:own_97b54227.3b127","wires":[["599e35c0.dacadc"]],"subflow_input_arguments":{"time":{"key":5000,"source":"num"},"unit":{"key":"ms","source":"str"}}},{"x":100,"y":30,"z":"data:icecek173175048","id":"ce06e406.8073a8","type":"event","wires":[["1162a93b.58c027"]],"idType":"event","eventSource":"page:11:onPageDidMount","fallbackName":"Page mounted","isConfigurable":false},{"x":110,"y":40,"z":"page:11:component:4e9b60aa-63ee-4bb7-9ed1-388d709272e0","id":"519ae75b7febd.82f48","type":"event","wires":[["db29188c3ef8a.09a62"]],"idType":"event","eventSource":"page:11:component:4e9b60aa-63ee-4bb7-9ed1-388d709272e0:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page11"},{"x":110,"y":40,"z":"page:11:component:a75c8d18-bbf0-4e2f-bbce-71c725478a25","id":"633f0d84cd4b9.44604","type":"event","wires":[["64f82310d1205.9cd0d"]],"idType":"event","eventSource":"page:11:component:a75c8d18-bbf0-4e2f-bbce-71c725478a25:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page11"},{"x":320,"y":40,"z":"page:11:component:a75c8d18-bbf0-4e2f-bbce-71c725478a25","id":"64f82310d1205.9cd0d","type":"event-dispatch","wires":[],"eventID":"7b753b8948bf9.ce92c8","eventIDType":"event","pageId":"page.Page11"},{"x":110,"y":40,"z":"page:11:component:13fb599c-d15c-48bc-ae8b-8a2ec4b15677","id":"9f1a613ec6bb.71621c","type":"event","wires":[["f9ce094b243cc.7dc2a4"]],"idType":"event","eventSource":"page:11:component:13fb599c-d15c-48bc-ae8b-8a2ec4b15677:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page11"},{"x":100,"y":30,"z":"page:11:component:89c488f3-4d6b-41d6-8194-d1823d7ea82f","id":"bc0d591d5155.282ad8","type":"event","wires":[["c3b6145c43b9f.686888"]],"idType":"event","eventSource":"page:11:component:89c488f3-4d6b-41d6-8194-d1823d7ea82f:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page11"},{"x":320,"y":40,"z":"page:11:component:4e9b60aa-63ee-4bb7-9ed1-388d709272e0","id":"db29188c3ef8a.09a62","type":"event-dispatch","wires":[],"eventID":"7b753b8948bf9.ce92c8","eventIDType":"event","pageId":"page.Page11"},{"x":100,"y":40,"z":"page:11:component:a421dbaa-20b1-4456-a22a-de4a10d18f25","id":"7b753b8948bf9.ce92c8","type":"event","wires":[[]],"idType":"event","eventSource":"event-out","fallbackName":"Fired from \"Event out\"","isConfigurable":true,"pageId":"page.Page11"},{"x":444,"y":73,"z":"page:11:component:89c488f3-4d6b-41d6-8194-d1823d7ea82f","id":"c3b6145c43b9f.686888","type":"subflow:own_2277ac59.912ff","wires":[[]],"subflow_input_arguments":{"page":{"key":"page.Page10","source":"page"},"params":{"key":{},"source":{}},"openInModal":{"key":false,"source":"bool"}},"pageId":"page.Page11"},{"x":446,"y":62,"z":"page:11:component:5b427a88-dbd7-40a2-963a-f682064cbebd","id":"e7838c4874586.117458","page":"page.Page9","type":"subflow:own_2277ac59.912ff","wires":[[]],"params":{},"page-type":"page","openInModal":false,"params-type":{},"openInModal-type":"bool","subflow_input_arguments":{"page":{"key":"page.Page9","source":"page"},"params":{"key":{},"source":{}},"openInModal":{"key":false,"source":"bool"}},"pageId":"page.Page11"},{"x":320,"y":40,"z":"page:11:component:13fb599c-d15c-48bc-ae8b-8a2ec4b15677","id":"f9ce094b243cc.7dc2a4","type":"event-dispatch","wires":[],"eventID":"7b753b8948bf9.ce92c8","eventIDType":"event","pageId":"page.Page11"},{"x":100,"y":30,"z":"page:11:component:5b427a88-dbd7-40a2-963a-f682064cbebd","id":"ae750e746d531.e6837ac","type":"event","wires":[["e7838c4874586.117458"]],"idType":"event","eventSource":"page:11:component:5b427a88-dbd7-40a2-963a-f682064cbebd:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page11"},{"x":110,"y":40,"z":"page:11","id":"b0892b645237e.37e34569b78c","type":"event","wires":[["41f0db2af3424.d8e61e3bd0848"]],"idType":"event","eventSource":"page:11:onPageDidMount","fallbackName":"Page mounted","isConfigurable":true,"pageId":"page.Page11"},{"x":320,"y":40,"z":"page:11","id":"41f0db2af3424.d8e61e3bd0848","type":"subflow:own_91f3e62e.3f65c","wires":[[]],"pageId":"page.Page11"}],"components":{"2-327534ea-0a35-4d62-87a7-0dd41d48c466":{"id":"2-327534ea-0a35-4d62-87a7-0dd41d48c466","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:2:component:327534ea-0a35-4d62-87a7-0dd41d48c466","styles":{"holder":{"flex":1,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Layout","pageId":"page.Page2"},"9-d99cd7f3-47e1-43db-af81-e5bb856cc014":{"id":"9-d99cd7f3-47e1-43db-af81-e5bb856cc014","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:9:component:d99cd7f3-47e1-43db-af81-e5bb856cc014","styles":{"holder":{"flex":1,"backgroundColor":"#1d479b","paddingTop":8,"paddingLeft":16,"paddingRight":16,"paddingBottom":8,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Layout","pageId":"page.Page9"},"5b007e96-4fdc-4f20-bf4c-4e7b6db60d83":{"id":"5b007e96-4fdc-4f20-bf4c-4e7b6db60d83","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:9:component:5b007e96-4fdc-4f20-bf4c-4e7b6db60d83","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"baseline","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0.1,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOffset":{"width":0,"height":0},"shadowOpacity":0,"flexDirection":"row-reverse","justifyContent":"space-around","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"backgroundImage":{"resizeMode":"cover","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"7a3a52a.e6837ac"}],"onPress":[{"id":"7a3a52a.e6837ac"}]}},"reactClass":"FlexBoxLayout","pageId":"page.Page9"},"4a1a3cb6-bb7a-4bbd-b9c8-2b8c72501cf2":{"id":"4a1a3cb6-bb7a-4bbd-b9c8-2b8c72501cf2","props":{"contextPropTypes":["visible","data","styles","animationsConfig","iconName"],"visible":true,"iconName":"home","flowGroupId":"page:9:component:4a1a3cb6-bb7a-4bbd-b9c8-2b8c72501cf2","styles":{"text":{"color":"#ffffff","fontSize":40,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"opacity":1,"flexGrow":0,"position":"relative","marginTop":0,"flexShrink":0,"marginLeft":0,"paddingTop":0,"marginRight":0,"paddingLeft":0,"marginBottom":0,"paddingRight":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","backfaceVisibility":"hidden","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Icon","pageId":"page.Page9"},"bfe43acc-32e7-4c46-91a6-ab84e0b977b0":{"id":"bfe43acc-32e7-4c46-91a6-ab84e0b977b0","props":{"contextPropTypes":["visible","data","styles","animationsConfig","src"],"src":"https://scontent.fteq4-1.fna.fbcdn.net/v/t1.6435-9/s2048x2048/187678088_270274007875253_209436280008592438_n.png?_nc_cat=103&ccb=1-3&_nc_sid=e3f864&_nc_ohc=SOhdNgR9tbgAX93-I3h&_nc_ht=scontent.fteq4-1.fna&tp=30&oh=3d39d21f687f6473e4d255e26fee4940&oe=60E1CCF9","visible":true,"flowGroupId":"page:9:component:bfe43acc-32e7-4c46-91a6-ab84e0b977b0","styles":{"con":{"marginTop":8,"borderRadius":0.1,"marginBottom":8,"width":"100%","opacity":1,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"borderColor":"rgb(0,0,0)","borderWidth":0,"marginRight":0,"backfaceVisibility":"hidden","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"image":{"width":"100%","resizeMode":"stretch","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Picture","pageId":"page.Page9"},"52ec9ef6-d2b1-4001-938b-de514b3c43f5":{"id":"52ec9ef6-d2b1-4001-938b-de514b3c43f5","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Bodrum Girişimcilik Merkezi","visible":true,"flowGroupId":"page:9:component:52ec9ef6-d2b1-4001-938b-de514b3c43f5","styles":{"text":{"color":"rgb(255,255,255)","fontSize":28,"fontFamily":"Campton","fontWeight":"600","lineHeight":36,"textTransform":"none","fontStyle":"normal","textShadowRadius":2,"textAlignVertical":"auto","textDecorationStyle":"solid","textShadowOffset":{"width":0,"height":0},"textAlign":"center","textDecorationLine":"none","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page9"},"a22a47fd-df29-4074-940a-ec9a9fb85b92":{"id":"a22a47fd-df29-4074-940a-ec9a9fb85b92","props":{"contextPropTypes":["visible","data","styles","animationsConfig","label","disabled"],"label":"İçecek Menüsü","visible":true,"disabled":false,"flowGroupId":"page:9:component:a22a47fd-df29-4074-940a-ec9a9fb85b92","styles":{"text":{"color":"rgb(255, 255, 255)","fontSize":18,"fontFamily":"Campton","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"center","fontWeight":"700","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"button":{"marginTop":8,"minHeight":56,"borderWidth":0,"paddingLeft":8,"shadowColor":"rgba(242, 242, 255, 0.75)","borderRadius":24,"marginBottom":8,"paddingRight":8,"shadowRadius":7,"backgroundColor":"rgb(9, 59, 154)","shadowOffset":{"width":0,"height":4},"shadowOpacity":0,"display":"flex","opacity":1,"position":"relative","alignSelf":"auto","alignItems":"stretch","marginLeft":0,"paddingTop":0,"marginRight":0,"paddingBottom":0,"justifyContent":"center","backfaceVisibility":"hidden","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"fb4bdc29.1f93d"}],"onPress":[{"id":"fb4bdc29.1f93d"}]}},"reactClass":"Button","pageId":"page.Page9"},"60d35588-7a36-43ec-9fa9-b68627f0a29d":{"id":"60d35588-7a36-43ec-9fa9-b68627f0a29d","props":{"contextPropTypes":["visible","data","styles","animationsConfig","label","disabled"],"label":"Yemek Menüsü","visible":true,"disabled":false,"flowGroupId":"page:9:component:60d35588-7a36-43ec-9fa9-b68627f0a29d","styles":{"text":{"color":"rgb(255, 255, 255)","fontSize":18,"fontFamily":"Campton","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"center","fontWeight":"700","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"button":{"marginTop":8,"minHeight":56,"borderWidth":0,"paddingLeft":8,"shadowColor":"rgba(242, 242, 255, 0.75)","borderRadius":24,"marginBottom":8,"paddingRight":8,"shadowRadius":7,"backgroundColor":"rgb(9, 59, 154)","shadowOffset":{"width":0,"height":4},"shadowOpacity":0,"display":"flex","opacity":1,"position":"relative","alignSelf":"auto","alignItems":"stretch","marginLeft":0,"paddingTop":0,"marginRight":0,"paddingBottom":0,"justifyContent":"center","backfaceVisibility":"hidden","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"79fbd8a17edab.1f93d"}],"onPress":[{"id":"79fbd8a17edab.1f93d"}]}},"reactClass":"Button","pageId":"page.Page9"},"10-bc51f5b3-b243-4572-83c6-0753cb80a591":{"id":"10-bc51f5b3-b243-4572-83c6-0753cb80a591","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:10:component:bc51f5b3-b243-4572-83c6-0753cb80a591","styles":{"holder":{"flex":1,"backgroundColor":"#1d479b","paddingTop":8,"paddingLeft":16,"paddingRight":16,"paddingBottom":8,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Layout","pageId":"page.Page10"},"17df5d3b-8932-4736-89d3-aaaef0ae169b":{"id":"17df5d3b-8932-4736-89d3-aaaef0ae169b","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:10:component:17df5d3b-8932-4736-89d3-aaaef0ae169b","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"baseline","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0.1,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOffset":{"width":0,"height":0},"shadowOpacity":0,"flexDirection":"row-reverse","justifyContent":"space-around","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"backgroundImage":{"resizeMode":"cover","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"01bb0d1659263.e6837ac"}],"onPress":[{"id":"01bb0d1659263.e6837ac"}]}},"reactClass":"FlexBoxLayout","pageId":"page.Page10"},"7ff8122f-5f86-4154-b635-2b8c72501cf2":{"id":"7ff8122f-5f86-4154-b635-2b8c72501cf2","props":{"contextPropTypes":["visible","data","styles","animationsConfig","iconName"],"visible":true,"iconName":"home","flowGroupId":"page:10:component:7ff8122f-5f86-4154-b635-2b8c72501cf2","styles":{"text":{"color":"#ffffff","fontSize":40,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"opacity":1,"flexGrow":0,"position":"relative","marginTop":0,"flexShrink":0,"marginLeft":0,"paddingTop":0,"marginRight":0,"paddingLeft":0,"marginBottom":0,"paddingRight":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","backfaceVisibility":"hidden","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Icon","pageId":"page.Page10"},"6207ff2e-3230-4a02-b598-2b4e656cf2ec":{"id":"6207ff2e-3230-4a02-b598-2b4e656cf2ec","props":{"contextPropTypes":["visible","data","styles","animationsConfig","src"],"src":"https://scontent.fteq4-1.fna.fbcdn.net/v/t1.6435-9/s2048x2048/187678088_270274007875253_209436280008592438_n.png?_nc_cat=103&ccb=1-3&_nc_sid=e3f864&_nc_ohc=SOhdNgR9tbgAX93-I3h&_nc_ht=scontent.fteq4-1.fna&tp=30&oh=3d39d21f687f6473e4d255e26fee4940&oe=60E1CCF9","visible":true,"flowGroupId":"page:10:component:6207ff2e-3230-4a02-b598-2b4e656cf2ec","styles":{"con":{"marginTop":8,"borderRadius":0.1,"marginBottom":8,"width":"100%","opacity":1,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"borderColor":"rgb(0,0,0)","borderWidth":0,"marginRight":0,"backfaceVisibility":"hidden","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"image":{"width":"100%","resizeMode":"stretch","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Picture","pageId":"page.Page10"},"7bc4ccf8-e94d-4c01-a4b2-4cd45e2845ac":{"id":"7bc4ccf8-e94d-4c01-a4b2-4cd45e2845ac","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"İçecek Menüsü","visible":true,"flowGroupId":"page:10:component:7bc4ccf8-e94d-4c01-a4b2-4cd45e2845ac","styles":{"text":{"color":"rgb(255,255,255)","fontSize":28,"fontFamily":"Campton","fontWeight":"700","lineHeight":36,"textTransform":"none","fontStyle":"normal","textShadowRadius":2,"textAlignVertical":"auto","textDecorationStyle":"solid","textShadowOffset":{"width":0,"height":0},"textAlign":"center","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page10"},"e1411bb5-e6b1-4525-a35e-98f454ba1440":{"isRepeat":true,"repeatAs":"current","id":"e1411bb5-e6b1-4525-a35e-98f454ba1440","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","bindings":[{"type":"data","sourceId":"icecek_menu","sourceProp":"","targetProp":"data"}],"flowGroupId":"page:10:component:e1411bb5-e6b1-4525-a35e-98f454ba1440","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0.1,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOffset":{"width":0,"height":0},"shadowOpacity":0,"flexDirection":"row","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"backgroundImage":{"resizeMode":"cover","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":["data"],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page10"},"8f54d88e-e098-4032-892d-de4a10d18f25":{"isComposite":true,"id":"8f54d88e-e098-4032-892d-de4a10d18f25","props":{"contextPropTypes":["visible","data","styles","animationsConfig","primaryLabel","secondaryLabel","arrowVisible","backgroundImage"],"arrowVisible":true,"backgroundImage":"","visible":true,"bindings":[{"type":"repeat","sourceProp":"current.fields.item_name","targetProp":"primaryLabel"},{"type":"repeat","sourceProp":"current.fields.description","targetProp":"secondaryLabel"}],"flowGroupId":"page:10:component:8f54d88e-e098-4032-892d-de4a10d18f25","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","paddingTop":0,"borderWidth":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0.1,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"row","paddingBottom":0,"justifyContent":"flex-start","backgroundColor":"rgba(255,255,255,0)","shadowOffset":{"width":0,"height":0},"shadowOpacity":0,"backfaceVisibility":"hidden","color":"#ffffff","flexGrow":1,"fontSize":50,"flexShrink":1,"marginLeft":20,"marginRight":20,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"backgroundImage":{"resizeMode":"cover","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":["primaryLabel","secondaryLabel"],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page10","rocid":"e1411bb5-e6b1-4525-a35e-98f454ba1440"},"640415f2-8509-4ed4-8536-388d709272e0":{"id":"640415f2-8509-4ed4-8536-388d709272e0","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:10:component:640415f2-8509-4ed4-8536-388d709272e0","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0.1,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOffset":{"width":0,"height":0},"shadowOpacity":0,"flexGrow":1,"flexBasis":0,"justifyContent":"center","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"backgroundImage":{"resizeMode":"cover","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"2847dc445bcba.82f48"}],"onPress":[{"id":"2847dc445bcba.82f48"}]}},"reactClass":"FlexBoxLayout","pageId":"page.Page10","rcid":"8f54d88e-e098-4032-892d-de4a10d18f25","rocid":"e1411bb5-e6b1-4525-a35e-98f454ba1440"},"11729e7b-f88f-4aa6-be8c-7051050dff57":{"id":"11729e7b-f88f-4aa6-be8c-7051050dff57","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr.","visible":true,"bindings":[{"type":"repeat","sourceProp":"current.fields.item_name","sourcePropSubPath":"","targetProp":"content"}],"stylesBindings":[{"type":"expression","sourceId":"0c2102fd-a64f-4bfd-b4da-016292ebdde2","targetProp":"text.letterSpacing"}],"flowGroupId":"page:10:component:11729e7b-f88f-4aa6-be8c-7051050dff57","styles":{"text":{"color":"rgb(255,255,255)","fontSize":18,"fontFamily":"Rene.Bieder_Campton.","fontWeight":"400","lineHeight":24,"fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid","textShadowOffset":{"width":0,"height":0},"textTransform":"none","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"marginTop":0,"marginBottom":0,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":["content"],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page10","rcid":"8f54d88e-e098-4032-892d-de4a10d18f25","rocid":"e1411bb5-e6b1-4525-a35e-98f454ba1440"},"87a0b9c0-4795-4caf-9f3e-71c725478a25":{"id":"87a0b9c0-4795-4caf-9f3e-71c725478a25","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:10:component:87a0b9c0-4795-4caf-9f3e-71c725478a25","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0.1,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOffset":{"width":0,"height":0},"shadowOpacity":0,"flexGrow":0,"justifyContent":"center","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"backgroundImage":{"resizeMode":"cover","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"0fa8af89a64.44604"}],"onPress":[{"id":"0fa8af89a64.44604"}]}},"reactClass":"FlexBoxLayout","pageId":"page.Page10","rcid":"8f54d88e-e098-4032-892d-de4a10d18f25","rocid":"e1411bb5-e6b1-4525-a35e-98f454ba1440"},"36cd5488-08c5-48d1-8179-78c74271c8f6":{"id":"36cd5488-08c5-48d1-8179-78c74271c8f6","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr.","visible":true,"bindings":[{"type":"repeat","sourceProp":"current.fields.description","sourcePropSubPath":"","targetProp":"content"}],"stylesBindings":[{"type":"expression","sourceId":"13821062-d9c0-4bbf-b89c-860b92dfb371","targetProp":"text.letterSpacing"}],"flowGroupId":"page:10:component:36cd5488-08c5-48d1-8179-78c74271c8f6","styles":{"text":{"color":"rgb(200, 223, 242)","fontSize":18,"fontFamily":"Rene.Bieder_Campton.","fontWeight":"400","lineHeight":24,"fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid","textShadowOffset":{"width":0,"height":0},"textTransform":"none","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"marginTop":0,"marginBottom":0,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":["content"],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page10","rcid":"8f54d88e-e098-4032-892d-de4a10d18f25","rocid":"e1411bb5-e6b1-4525-a35e-98f454ba1440"},"47b9cb49-7de7-47d1-ba63-8a2ec4b15677":{"id":"47b9cb49-7de7-47d1-ba63-8a2ec4b15677","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","bindings":[{"type":"component","sourceId":"8f54d88e-e098-4032-892d-de4a10d18f25","sourceProp":"arrowVisible","sourcePropSubPath":"","targetProp":"visible"}],"flowGroupId":"page:10:component:47b9cb49-7de7-47d1-ba63-8a2ec4b15677","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0.1,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOffset":{"width":0,"height":0},"shadowOpacity":0,"flexGrow":0,"justifyContent":"center","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"backgroundImage":{"resizeMode":"cover","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":["visible"],"expressionProps":[],"events":{"tap":[{"id":"05c2932f3f687.71621c"}],"onPress":[{"id":"05c2932f3f687.71621c"}]}},"reactClass":"FlexBoxLayout","pageId":"page.Page10","rcid":"8f54d88e-e098-4032-892d-de4a10d18f25","rocid":"e1411bb5-e6b1-4525-a35e-98f454ba1440"},"0dbfce44-0ffd-443f-923f-b82493844f2d":{"id":"0dbfce44-0ffd-443f-923f-b82493844f2d","props":{"contextPropTypes":["visible","data","styles","animationsConfig","iconName"],"visible":true,"iconName":"angle-right","flowGroupId":"page:10:component:0dbfce44-0ffd-443f-923f-b82493844f2d","styles":{"text":{"color":"rgb(200, 223, 242)","fontSize":24,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"opacity":1,"flexGrow":0,"position":"relative","marginTop":0,"flexShrink":0,"paddingTop":0,"paddingLeft":0,"marginBottom":0,"paddingRight":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","backfaceVisibility":"hidden","marginLeft":8,"marginRight":8,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Icon","pageId":"page.Page10","rcid":"8f54d88e-e098-4032-892d-de4a10d18f25","rocid":"e1411bb5-e6b1-4525-a35e-98f454ba1440"},"ddae6215-e7aa-44aa-ad1f-d1823d7ea82f":{"id":"ddae6215-e7aa-44aa-ad1f-d1823d7ea82f","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"24 TL","visible":true,"bindings":[{"type":"expression","sourceId":"f5890649-6202-4622-9952-731627c17fdf","targetProp":"content"}],"flowGroupId":"page:10:component:ddae6215-e7aa-44aa-ad1f-d1823d7ea82f","styles":{"text":{"color":"rgb(255,255,255)","fontSize":28,"fontFamily":"Campton","fontWeight":"600","lineHeight":36,"textTransform":"none","fontStyle":"normal","textShadowRadius":2,"textAlignVertical":"auto","textDecorationStyle":"solid","textShadowOffset":{"width":0,"height":0},"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":["content"],"expressionProps":["content"],"events":{"tap":[{"id":"f4bc58a9.282ad8"}],"onPress":[{"id":"f4bc58a9.282ad8"}]}},"reactClass":"Text","pageId":"page.Page10","rocid":"e1411bb5-e6b1-4525-a35e-98f454ba1440"},"11-94cbc21b-eb59-476d-96a3-6ef92051f83d":{"id":"11-94cbc21b-eb59-476d-96a3-6ef92051f83d","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:11:component:94cbc21b-eb59-476d-96a3-6ef92051f83d","styles":{"holder":{"flex":1,"backgroundColor":"#1d479b","paddingTop":8,"paddingLeft":16,"paddingRight":16,"paddingBottom":8,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Layout","pageId":"page.Page11"},"5b427a88-dbd7-40a2-963a-f682064cbebd":{"id":"5b427a88-dbd7-40a2-963a-f682064cbebd","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:11:component:5b427a88-dbd7-40a2-963a-f682064cbebd","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"baseline","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0.1,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOffset":{"width":0,"height":0},"shadowOpacity":0,"flexDirection":"row-reverse","justifyContent":"space-around","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"backgroundImage":{"resizeMode":"cover","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"ae750e746d531.e6837ac"}],"onPress":[{"id":"ae750e746d531.e6837ac"}]}},"reactClass":"FlexBoxLayout","pageId":"page.Page11"},"02fd81da-a33b-42bc-8d8f-2b8c72501cf2":{"id":"02fd81da-a33b-42bc-8d8f-2b8c72501cf2","props":{"contextPropTypes":["visible","data","styles","animationsConfig","iconName"],"visible":true,"iconName":"home","flowGroupId":"page:11:component:02fd81da-a33b-42bc-8d8f-2b8c72501cf2","styles":{"text":{"color":"#ffffff","fontSize":40,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"opacity":1,"flexGrow":0,"position":"relative","marginTop":0,"flexShrink":0,"paddingTop":0,"paddingLeft":0,"marginBottom":0,"paddingRight":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","backfaceVisibility":"hidden","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Icon","pageId":"page.Page11"},"d8ca172c-9a53-41ce-a5a2-6f6b229a815f":{"id":"d8ca172c-9a53-41ce-a5a2-6f6b229a815f","props":{"contextPropTypes":["visible","data","styles","animationsConfig","src"],"src":"https://scontent.fteq4-1.fna.fbcdn.net/v/t1.6435-9/s2048x2048/187678088_270274007875253_209436280008592438_n.png?_nc_cat=103&ccb=1-3&_nc_sid=e3f864&_nc_ohc=SOhdNgR9tbgAX93-I3h&_nc_ht=scontent.fteq4-1.fna&tp=30&oh=3d39d21f687f6473e4d255e26fee4940&oe=60E1CCF9","visible":true,"flowGroupId":"page:11:component:d8ca172c-9a53-41ce-a5a2-6f6b229a815f","styles":{"con":{"marginTop":8,"borderRadius":0.1,"marginBottom":8,"width":"100%","opacity":1,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"borderColor":"rgb(0,0,0)","borderWidth":0,"marginRight":0,"backfaceVisibility":"hidden","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"image":{"width":"100%","resizeMode":"stretch","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Picture","pageId":"page.Page11"},"d73b884b-89d0-4d59-bf83-d99db583c455":{"id":"d73b884b-89d0-4d59-bf83-d99db583c455","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Yemek Menüsü","visible":true,"flowGroupId":"page:11:component:d73b884b-89d0-4d59-bf83-d99db583c455","styles":{"text":{"color":"rgb(255,255,255)","fontSize":28,"fontFamily":"Campton","fontWeight":"700","lineHeight":36,"textTransform":"none","fontStyle":"normal","textShadowRadius":2,"textAlignVertical":"auto","textDecorationStyle":"solid","textShadowOffset":{"width":0,"height":0},"textAlign":"center","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page11"},"0e0b0320-35a0-40c5-a4da-4abb8eee0a38":{"isRepeat":true,"repeatAs":"current","id":"0e0b0320-35a0-40c5-a4da-4abb8eee0a38","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","bindings":[{"type":"data","sourceId":"yemek_menu","sourceProp":"","targetProp":"data"}],"flowGroupId":"page:11:component:0e0b0320-35a0-40c5-a4da-4abb8eee0a38","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0.1,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOffset":{"width":0,"height":0},"shadowOpacity":0,"flexDirection":"row","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"backgroundImage":{"resizeMode":"cover","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":["data"],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page11"},"a421dbaa-20b1-4456-a22a-de4a10d18f25":{"isComposite":true,"id":"a421dbaa-20b1-4456-a22a-de4a10d18f25","props":{"contextPropTypes":["visible","data","styles","animationsConfig","primaryLabel","secondaryLabel","arrowVisible","backgroundImage"],"arrowVisible":true,"backgroundImage":"","visible":true,"bindings":[{"type":"repeat","sourceProp":"current.fields.item_name","targetProp":"primaryLabel"},{"type":"repeat","sourceProp":"current.fields.description","targetProp":"secondaryLabel"}],"flowGroupId":"page:11:component:a421dbaa-20b1-4456-a22a-de4a10d18f25","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","paddingTop":0,"borderWidth":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0.1,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"row","paddingBottom":0,"justifyContent":"flex-start","backgroundColor":"rgba(255,255,255,0)","shadowOffset":{"width":0,"height":0},"shadowOpacity":0,"backfaceVisibility":"hidden","color":"#ffffff","flexGrow":1,"fontSize":50,"flexShrink":1,"marginLeft":20,"marginRight":20,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"backgroundImage":{"resizeMode":"cover","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":["primaryLabel","secondaryLabel"],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page11","rocid":"0e0b0320-35a0-40c5-a4da-4abb8eee0a38"},"4e9b60aa-63ee-4bb7-9ed1-388d709272e0":{"id":"4e9b60aa-63ee-4bb7-9ed1-388d709272e0","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:11:component:4e9b60aa-63ee-4bb7-9ed1-388d709272e0","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0.1,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOffset":{"width":0,"height":0},"shadowOpacity":0,"flexGrow":1,"flexBasis":0,"justifyContent":"center","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"backgroundImage":{"resizeMode":"cover","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"519ae75b7febd.82f48"}],"onPress":[{"id":"519ae75b7febd.82f48"}]}},"reactClass":"FlexBoxLayout","pageId":"page.Page11","rcid":"a421dbaa-20b1-4456-a22a-de4a10d18f25","rocid":"0e0b0320-35a0-40c5-a4da-4abb8eee0a38"},"6540f81d-d024-465e-a770-7051050dff57":{"id":"6540f81d-d024-465e-a770-7051050dff57","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr.","visible":true,"bindings":[{"type":"repeat","sourceProp":"current.fields.item_name","sourcePropSubPath":"","targetProp":"content"}],"stylesBindings":[{"type":"expression","sourceId":"69693380-cb56-41ba-8951-6abb6ff59720","targetProp":"text.letterSpacing"}],"flowGroupId":"page:11:component:6540f81d-d024-465e-a770-7051050dff57","styles":{"text":{"color":"rgb(255,255,255)","fontSize":18,"fontFamily":"Rene.Bieder_Campton.","fontWeight":"400","lineHeight":24,"fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid","textShadowOffset":{"width":0,"height":0},"textTransform":"none","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"marginTop":0,"marginBottom":0,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":["content"],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page11","rcid":"a421dbaa-20b1-4456-a22a-de4a10d18f25","rocid":"0e0b0320-35a0-40c5-a4da-4abb8eee0a38"},"a75c8d18-bbf0-4e2f-bbce-71c725478a25":{"id":"a75c8d18-bbf0-4e2f-bbce-71c725478a25","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:11:component:a75c8d18-bbf0-4e2f-bbce-71c725478a25","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0.1,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOffset":{"width":0,"height":0},"shadowOpacity":0,"flexGrow":0,"justifyContent":"center","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"backgroundImage":{"resizeMode":"cover","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"633f0d84cd4b9.44604"}],"onPress":[{"id":"633f0d84cd4b9.44604"}]}},"reactClass":"FlexBoxLayout","pageId":"page.Page11","rcid":"a421dbaa-20b1-4456-a22a-de4a10d18f25","rocid":"0e0b0320-35a0-40c5-a4da-4abb8eee0a38"},"598413b9-a7e9-43ab-a2a7-78c74271c8f6":{"id":"598413b9-a7e9-43ab-a2a7-78c74271c8f6","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr.","visible":true,"bindings":[{"type":"repeat","sourceProp":"current.fields.description","sourcePropSubPath":"","targetProp":"content"}],"stylesBindings":[{"type":"expression","sourceId":"5e01eb2d-077d-4247-a147-40f745b553f8","targetProp":"text.letterSpacing"}],"flowGroupId":"page:11:component:598413b9-a7e9-43ab-a2a7-78c74271c8f6","styles":{"text":{"color":"rgb(200, 223, 242)","fontSize":18,"fontFamily":"Rene.Bieder_Campton.","fontWeight":"400","lineHeight":24,"fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid","textShadowOffset":{"width":0,"height":0},"textTransform":"none","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"marginTop":0,"marginBottom":0,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":["content"],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page11","rcid":"a421dbaa-20b1-4456-a22a-de4a10d18f25","rocid":"0e0b0320-35a0-40c5-a4da-4abb8eee0a38"},"13fb599c-d15c-48bc-ae8b-8a2ec4b15677":{"id":"13fb599c-d15c-48bc-ae8b-8a2ec4b15677","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","bindings":[{"type":"component","sourceId":"a421dbaa-20b1-4456-a22a-de4a10d18f25","sourceProp":"arrowVisible","sourcePropSubPath":"","targetProp":"visible"}],"flowGroupId":"page:11:component:13fb599c-d15c-48bc-ae8b-8a2ec4b15677","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0.1,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOffset":{"width":0,"height":0},"shadowOpacity":0,"flexGrow":0,"justifyContent":"center","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"backgroundImage":{"resizeMode":"cover","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":["visible"],"expressionProps":[],"events":{"tap":[{"id":"9f1a613ec6bb.71621c"}],"onPress":[{"id":"9f1a613ec6bb.71621c"}]}},"reactClass":"FlexBoxLayout","pageId":"page.Page11","rcid":"a421dbaa-20b1-4456-a22a-de4a10d18f25","rocid":"0e0b0320-35a0-40c5-a4da-4abb8eee0a38"},"a9dbea3b-9333-46cb-b9f2-b82493844f2d":{"id":"a9dbea3b-9333-46cb-b9f2-b82493844f2d","props":{"contextPropTypes":["visible","data","styles","animationsConfig","iconName"],"visible":true,"iconName":"angle-right","flowGroupId":"page:11:component:a9dbea3b-9333-46cb-b9f2-b82493844f2d","styles":{"text":{"color":"rgb(200, 223, 242)","fontSize":24,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"opacity":1,"flexGrow":0,"position":"relative","marginTop":0,"flexShrink":0,"paddingTop":0,"paddingLeft":0,"marginBottom":0,"paddingRight":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","backfaceVisibility":"hidden","marginLeft":8,"marginRight":8,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Icon","pageId":"page.Page11","rcid":"a421dbaa-20b1-4456-a22a-de4a10d18f25","rocid":"0e0b0320-35a0-40c5-a4da-4abb8eee0a38"},"89c488f3-4d6b-41d6-8194-d1823d7ea82f":{"id":"89c488f3-4d6b-41d6-8194-d1823d7ea82f","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"12 TL","visible":true,"bindings":[{"type":"expression","sourceId":"959bfcdc-cd74-437a-953b-543f6ad7e9cc","targetProp":"content"}],"flowGroupId":"page:11:component:89c488f3-4d6b-41d6-8194-d1823d7ea82f","styles":{"text":{"color":"rgb(255,255,255)","fontSize":28,"fontFamily":"Campton","fontWeight":"600","lineHeight":36,"textTransform":"none","fontStyle":"normal","textShadowRadius":2,"textAlignVertical":"auto","textDecorationStyle":"solid","textShadowOffset":{"width":0,"height":0},"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":["content"],"expressionProps":["content"],"events":{"tap":[{"id":"bc0d591d5155.282ad8"}],"onPress":[{"id":"bc0d591d5155.282ad8"}]}},"reactClass":"Text","pageId":"page.Page11","rocid":"0e0b0320-35a0-40c5-a4da-4abb8eee0a38"}},"app":{"events":{},"id":231647},"theme":{"$fontSizeH1":42,"$fontSizeH2":28,"$fontSizeH3":21,"$fontSizeH4":18,"$fontSizeH5":16,"$fontSizeH6":14,"$spacerBase":8,"$colorNotice":"#E68619","$colorShadow":"rgba(242, 242, 255, 0.75)","$fontWeightH1":"600","$fontWeightH2":"600","$fontWeightH3":"600","$fontWeightH4":"400","$fontWeightH5":"700","$fontWeightH6":"600","$iconSizeTiny":8,"$lineHeightH1":52,"$lineHeightH2":36,"$lineHeightH3":28,"$lineHeightH4":24,"$lineHeightH5":24,"$lineHeightH6":24,"$colorNegative":"#E34850","$colorPositive":"#2D9D78","$fontSizeLabel":14,"$iconSizeLarge":32,"$iconSizeSmall":16,"$inputFontSize":16,"$buttonFontSize":18,"$iconSizeMedium":24,"$inputMinHeight":48,"$buttonMinHeight":56,"$cardBorderColor":"rgb(200, 223, 242)","$cardBorderStyle":"solid","$cardBorderWidth":2,"$cardShadowColor":"rgba(242, 242, 255, 0.75)","$colorBackground":"rgb(0,0,0)","$colorFontNotice":"#E68619","$colorNoticeTint":"rgb(233,146,48)","$fontSizeCaption":12,"$fontWeightLabel":"600","$inputFontFamily":"Rene.Bieder_Campton.","$inputFontWeight":"400","$letterSpacingH1":"normal","$letterSpacingH2":"normal","$letterSpacingH3":"normal","$letterSpacingH4":"normal","$letterSpacingH5":"0.64","$letterSpacingH6":"normal","$lineHeightLabel":24,"$primaryTabColor":"rgb(255,255,255)","$textTransformH1":"none","$textTransformH2":"none","$textTransformH3":"none","$textTransformH4":"none","$textTransformH5":"uppercase","$textTransformH6":"none","$buttonFontFamily":"Rene.Bieder_Campton.","$cardBorderRadius":3,"$colorFontPrimary":"rgb(255,255,255)","$colorFontSubdued":"rgb(200, 223, 242)","$colorInformative":"rgb(9, 59, 154)","$colorNoticeShade":"rgb(207,121,23)","$fontFamilyHeader":"Rene.Bieder_Campton.","$imageBorderColor":"rgb(200, 223, 242)","$imageBorderStyle":"none","$imageBorderWidth":0,"$inputBorderStyle":"solid","$inputColorBorder":"rgb(200, 223, 242)","$inputShadowColor":"rgba(242, 242, 255, 0.75)","$buttonBorderStyle":"none","$buttonBorderWidth":0,"$buttonShadowColor":"rgba(242, 242, 255, 0.75)","$cardShadowEnabled":false,"$cardShadowOffsetX":0,"$cardShadowOffsetY":2,"$checkboxSizeLarge":30,"$checkboxSizeSmall":19,"$colorFontDisabled":"rgb(200, 223, 242)","$colorFontNegative":"#E34850","$colorFontPositive":"#2D9D78","$colorNegativeTint":"rgb(230,94,101)","$colorPositiveTint":"rgb(51,177,135)","$fontFamilyContent":"Rene.Bieder_Campton.","$fontSizeParagraph":16,"$fontWeightCaption":"700","$imageBorderRadius":0,"$inputBorderRadius":0,"$lineHeightCaption":20,"$listItemMinHeight":64,"$primaryAppBgColor":"rgb(78, 78, 79)","$primaryTabBgColor":"rgb(78, 78, 79)","$buttonBorderRadius":24,"$cardMarginVertical":16,"$checkboxSizeMedium":24,"$colorFontHighlight":"rgb(0,62,255)","$colorNegativeShade":"rgb(224,50,59)","$colorPositiveShade":"rgb(39,137,105)","$inputShadowEnabled":false,"$inputShadowOffsetX":0,"$inputShadowOffsetY":0,"$letterSpacingLabel":"0","$listItemImageWidth":48,"$primaryNavBarColor":"rgb(255,255,255)","$textTransformLabel":"none","$buttonShadowEnabled":false,"$buttonShadowOffsetX":0,"$buttonShadowOffsetY":4,"$cardBackgroundColor":"rgb(0,0,0)","$cardPaddingVertical":16,"$checkboxIconChecked":"check-square","$colorContentPrimary":"rgb(255,255,255)","$colorContentSubdued":"rgb(200, 223, 242)","$colorNoticeContrast":"rgb(255, 255, 255)","$fontWeightParagraph":"400","$inputBorderWidthTop":0,"$inputFontLineHeight":24,"$lineHeightParagraph":24,"$listItemBorderColor":"rgb(200, 223, 242)","$listItemBorderStyle":"solid","$listItemBorderWidth":1,"$paddingPageVertical":8,"$primaryTabTintColor":"rgb(9, 59, 154)","$buttonFontLineHeight":24,"$cardShadowBlurRadius":5,"$colorFontInformative":"rgb(9, 59, 154)","$colorFontPlaceholder":"rgb(200, 223, 242)","$colorInformativeTint":"rgb(10,68,178)","$inputBorderWidthLeft":0,"$inputColorBackground":"rgba(255,255,255,0)","$inputPaddingVertical":8,"$letterSpacingCaption":"0.48","$primaryNavBarBgColor":"rgb(78, 78, 79)","$radioButtonSizeLarge":30,"$radioButtonSizeSmall":19,"$textTransformCaption":"uppercase","$cardPaddingHorizontal":16,"$checkboxIconUnchecked":"square","$colorContentHighlight":"rgb(0,62,255)","$colorInformativeShade":"rgb(8,50,130)","$colorNegativeContrast":"rgb(255, 255, 255)","$colorPositiveContrast":"rgb(255, 255, 255)","$inputBorderWidthRight":0,"$inputShadowBlurRadius":0,"$paddingPageHorizontal":16,"$radioButtonSizeMedium":24,"$buttonShadowBlurRadius":7,"$fontSizeParagraphLarge":18,"$fontSizeParagraphSmall":14,"$inputBorderWidthBottom":1,"$inputFontLetterSpacing":"normal","$inputFontTextTransform":"none","$inputPaddingHorizontal":0,"$letterSpacingParagraph":"normal","$textTransformParagraph":"none","$buttonFontLetterSpacing":"normal","$buttonFontTextTransform":"none","$inputLabelFontTextAlign":"left","$listItemImageWidthLarge":72,"$radioButtonIconSelected":"check-square","$colorBackgroundSecondary":"rgb(78, 78, 79)","$colorInformativeContrast":"rgb(255, 255, 255)","$fontWeightParagraphLarge":"400","$fontWeightParagraphSmall":"400","$inputLabelMarginVertical":0,"$lineHeightParagraphLarge":24,"$lineHeightParagraphSmall":16,"$radioButtonIconUnselected":"square","$letterSpacingParagraphLarge":"normal","$letterSpacingParagraphSmall":"normal","$primaryTabInactiveTintColor":"rgb(200, 223, 242)","$textTransformParagraphLarge":"none","$textTransformParagraphSmall":"none","$inputLabelBottomMarginHorizontal":0},"fonts":[{"fontFamily":"Campton","weight":"300","source":"https://appgyver-meap-assets.s3.amazonaws.com/uploads/asset/acual_asset/0ef23ac1-d346-43ca-a1bf-9dbb5741f62c/font.otf"},{"fontFamily":"Campton","weight":"500","source":"https://appgyver-meap-assets.s3.amazonaws.com/uploads/asset/acual_asset/8136bb48-6ad9-41d7-8806-e25f736cc892/font.otf"},{"fontFamily":"Campton","weight":"600","source":"https://appgyver-meap-assets.s3.amazonaws.com/uploads/asset/acual_asset/d1176204-d26d-4a48-9885-4795580ca6c6/font.otf"},{"fontFamily":"Campton","weight":"700","source":"https://appgyver-meap-assets.s3.amazonaws.com/uploads/asset/acual_asset/41f93965-489d-4eca-a864-d920821a0b74/font.otf"}],"expressions":{"0c2102fd-a64f-4bfd-b4da-016292ebdde2":{"script":"LOOKUP(theme,\"$letterSpacingParagraphLarge\")","formula":"theme.$letterSpacingParagraphLarge","dependencies":[["theme","$letterSpacingParagraphLarge"]]},"13821062-d9c0-4bbf-b89c-860b92dfb371":{"script":"LOOKUP(theme,\"$letterSpacingParagraphLarge\")","formula":"theme.$letterSpacingParagraphLarge","dependencies":[["theme","$letterSpacingParagraphLarge"]]},"f5890649-6202-4622-9952-731627c17fdf":{"script":"LOOKUP(LOOKUP(LOOKUP(repeated,\"current\"),\"fields\"),\"price\")+\" TL\"","formula":"repeated.current.fields.price + \" TL\"","dependencies":[["repeated","current","fields","price"]]},"69693380-cb56-41ba-8951-6abb6ff59720":{"script":"LOOKUP(theme,\"$letterSpacingParagraphLarge\")","formula":"theme.$letterSpacingParagraphLarge","dependencies":[["theme","$letterSpacingParagraphLarge"]]},"5e01eb2d-077d-4247-a147-40f745b553f8":{"script":"LOOKUP(theme,\"$letterSpacingParagraphLarge\")","formula":"theme.$letterSpacingParagraphLarge","dependencies":[["theme","$letterSpacingParagraphLarge"]]},"959bfcdc-cd74-437a-953b-543f6ad7e9cc":{"script":"LOOKUP(LOOKUP(LOOKUP(repeated,\"current\"),\"fields\"),\"price\")+\" TL\"","formula":"repeated.current.fields.price + \" TL\"","dependencies":[["repeated","current","fields","price"]]}},"globalCanvas":{"uid":"page.Page2","id":2,"contextId":"canvas/page.Page2","pageId":"page.Page2"},"i18n":{"translations":{},"supportedLanguages":[]},"environment":{"workspaceApp":{"id":231647},"app":{"id":333874,"demo":false,"paid":false,"free":true,"tokens":{"steroids":"5e025bf4a5433a70a0b902acd5740ad66f1991df2b9ad2d01f46ab12e3d64c49","data":"258cb56cddb62fbe24361ca03e1a564c","segmentOwnerId":null,"androidGcmSenderProjectId":null},"auth":{"primary":"anonymous"},"title":"Bodrum Girişimcilik Merkezi"},"links":{"user_account":"https://accounts.appgyver.com/users/edit"},"endpoints":{"domain":"appgyver.com","auth":"https://rest-auth.appgyver.com/api/v5","data":"https://proxy-api.appgyver.com/v3/","graphql":"https://graphql-api.appgyver.com/graphql_api/v1","debug":"https://debug-api.appgyver.com/debug_api"},"auth":{"endpoint":"https://rest-auth.appgyver.com/api/v5"},"data":{"type":"rest","endpoint":"https://proxy-api.appgyver.com/v3/","bundle":{"options":{"baseUrl":"https://proxy-api.appgyver.com/v3/","headers":{"steroidsAppId":"333874","steroidsApiKey":"5e025bf4a5433a70a0b902acd5740ad66f1991df2b9ad2d01f46ab12e3d64c49","RestAuthorization":"258cb56cddb62fbe24361ca03e1a564c"}},"resources":{}},"collections":[],"relations":[],"business_objects":[]},"modules":{"routes":{}}},"dataResources":{"yemek":{"id":"yemek","type":"rest","operations":{"list":{"parameters":[],"response_key_path":"records"},"retrieve":{"parameters":[{"id":"path_id","type":"string","title":"id","is_static":false,"placement":"path","description":"Resource ID to retrieve","is_optional":false,"placement_key":"id"}],"relative_path":"/{id}"}},"parameters":[{"id":"header_authorization","type":"string","title":"Auth","default":"Bearer key5zyEIrrmaSpCDW","isEncoded":false,"is_static":true,"placement":"header","is_optional":true,"placement_key":"Authorization"}],"base_url":"https://api.airtable.com/v0/appVG6cS7bPwHSr55/yemek"},"icecek":{"id":"icecek","type":"rest","operations":{"list":{"parameters":[],"response_key_path":"records"},"retrieve":{"parameters":[{"id":"path_id","type":"string","title":"id","is_static":false,"placement":"path","description":"Resource ID to retrieve","is_optional":false,"placement_key":"id"}],"relative_path":"/{id}"}},"parameters":[{"id":"header_authorization","type":"string","title":"Auth","default":"Bearer key5zyEIrrmaSpCDW","isEncoded":false,"is_static":true,"placement":"header","is_optional":true,"placement_key":"Authorization"}],"base_url":"https://api.airtable.com/v0/appVG6cS7bPwHSr55/icecek"}}},"__N_SSG":true}